<%- include ('../partials/head')%>

  <link rel="stylesheet" href="/css/cart.css">

  <title>Carrito</title>
</head>

<body>

  <!-- ENCABEZADO -->
  
  <%- include ('../partials/header')%>

      <!-- CARRITO -->
  <main>
      <div class="cajaProducto">
        <h1>Heaven Sport</h1>
        <p>Tienda Oficial</p>
        <img src="/images/ProductoA_0.jpg" alt="imagen-referencia">
        <div class="descripcion-producto">
            <p>... Nombre del producto ...</p>
            <p>... Descripcion del producto ...</p>
            <button>Eliminar</button>
            <button>Guardar</button>
            <button>Modificar</button>
            <button>Comprar ahora</button>
        </div>
        <div class="cantidad">
            <button><i class="fa-solid fa-minus"></i>1<i class="fa-solid fa-plus"></i></button>
            <p>Disponibles: 5</p>
        </div>
      </div>
        <div class="compra">
            <h1>Resumen de compra:</h1>
            <p>"Producto"</p>
            <p>$$$$</p>
            <p>Envio</p>
            <p>$$$$</p>
            <p><input type="text" name="cupon" placeholder="Cupon dcto"></p>
            <p>Desc %</p>
            <p>Total</p>
            <p>$$$$</p>
        </div>
        <div class="botones">
            <button>Comprar</button>
            <br>
            <button>Cancelar Compra</button>
        </div>
        <div class="volver">
             <a href="/">Volver a la Página principal</a>
        </div>
    </main>

  <!-- PIE DE PAGINA -->

  <%- include ('../partials/footer')%>

</body>

</html>