<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/create.css">
<title>Cargar</title>

</head>

<body>

  <!-- ENCABEZADO -->
  <%- include ('../partials/header')%>

  <!-- PRINCIPAL -->
  <main>

    
    <!-- Formulario registro -->
    <div class="contenedor-form">
      <h4 class="titulo">Nuevo producto</h4>
      <form action="/products" method="POST" enctype="multipart/form-data">

        <!-- NOMBRE PRODUCTO -->
        <div class="box">
          <input type="text" name="Nombre" id="nombre" required>
          <label for="nombre">Nombre</label>
        </div>

        <!-- MARCA PRODUCTO -->
        <div class="box">
          <input type="text" name="Marca" id="marca" required>
          <label for="marca">Marca</label>
        </div>

        <!-- DESCRIPCION PRODUCTO -->
        <div class="box">
          <input type="text" name="Descripcion" id="descripcion"required></input>
          <label for="descripcion">Descripción</label>
        </div>

        <!-- PRECIO PRODUCTO -->
        <div class="box">
          <input type="number" name="Precio" id="precio" required>
          <label for="precio">Precio</label>
        </div>

        <!-- DESCUENTO PRODUCTO -->
        <div class="box">
          <input type="number" name="Descuento" id="descuento" required>
          <label for="descuento">Descuento</label>
        </div>

        <!-- COLOR PRODUCTO -->
        <div class="box">
          <input type="text" name="Color" id="color" required>
          <label for="color">Colores (separados por un espacio)</label>
        </div>

        <!-- TALLE PRODUCTO -->
        <div class="box">
          <input type="text" name="Talle" id="talle" required>
          <label for="talle">Talles (separados por un espacio)</label>
        </div>

        
        <!-- STOCK PRODUCTO -->
        <div class="box">
          <input type="number" name="Stock" id="stock" required>
          <label for="stock">Stock</label>
        </div>
        
        <!-- CATEGORIA PRODUCTO -->
        <div class="box-check">
          <label class="box-check-titulo">Categoria</label>
          <input type="checkbox" name="Categoria" id="Deportivo" value="Deportivo"> 
          <label for="Deportivo" class="label-check">
            Deportivo
          </label>
          <input type="checkbox" name="Categoria" id="Casual" value="Casual"> 
          <label for="Casual" class="label-check">
            Casual
          </label>
          <input type="checkbox" name="Categoria" id="Urbano" value="Urbano">
          <label for="Urbano" class="label-check">
            Urbano
          </label>
          <input type="checkbox" name="Categoria" id="Formal" value="Formal"> 
          <label for="Formal" class="label-check">
            Formal
          </label>
          <input type="checkbox" name="Categoria" id="Niños" value="Niños"> 
          <label for="Niños" class="label-check">
            Niños
          </label>
        </div>

        <!-- CARGAR IMAGENES PRODUCTO -->
        <div class="box box-img">
          <label for="img" class="label-img">Cargar imagenes</label>
          <input class="input-image" type="file" id="img" name="Imagen" multiple accept=".jpg, .png">
        </div>
        <div class="botones">
          <!-- Boton carga -->
          <button type="submit" class="boton">Guardar</button>
    
          <!-- Boton de reset -->
          <button type="reset" class="boton">Limpiar</button>
        </div>

      </form>
    </div>
  </main>
  <!-- PIE DE PAGINA -->
  <%- include ('../partials/footer')%>


</body>

</html>