<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/formCarga.css">
<link rel="stylesheet" href="/css/mediaQ.css">

<title>Editar</title>
</head>

<body>

  <!-- ENCABEZADO -->
  <%- include ('../partials/header')%>

  <!-- PRINCIPAL -->
  <main>

  <h4 class="titulo">Editar Producto</h4>

    <!-- Formulario registro -->
    <div class="contenedorForm">
      <form action="/formCarga" method="POST">
        
        <!-- BUSCAR PRODUCTO -->
        <div class="box">
          <label for="buscar">Buscar producto:</label>
          <input type="search" name="buscar" id="buscar" required>
          <button type="submit" class="boton">Buscar <i class="fa-solid fa-magnifying-glass fa-xl"></i></button>
        </div>

          <!-- NOMBRE PRODUCTO -->
          <div class="box">
              <label>Editar nombre del producto:</label>
              <input type="text" name="nombre" id="nombre" required>
          </div>

          <!-- PRECIO PRODUCTO -->
          <div class="box">
              <label>Editar precio:</label>
              <input type="number" name="precio" id="precio" required>
          </div>
          
          <!-- DESCRIPCION PRODUCTO -->
         <div class="box">
              <label>Editar descripcion:</label>
              <textarea name="descripcion" id="descripcion" cols="50" rows="3" required></textarea>
        </div>

        <!-- COLOR PRODUCTO -->
        <div class="contenedorTalle">
          <p class="subtitulo subTalle">Editar Color: </p>
         <select class="cajaTalles" name="color" id="color">
           <option value="selectColor" selected disabled>Seleccionar un color</option>
           <option value="Negro">Negro</option>
           <option value="Blanco">Blanco</option>
          <option value="Rojo">Rojo</option>
           <option value="Azul">Azul</option>
           <option value="Verde">Verde</option>
            <option value="Beige">Beige</option>
           <option value="Celeste">Celeste</option>
            <option value="Otros">Otros</option>
         </select>
       </div>

          <!-- TALLE PRODUCTO -->
        <div class="contenedorTalle">
          <p class="subtitulo"> Editar Talle: </p>
          <select class="cajaTalles" name="talles" id="talles">
            <option value="selectTalle" selected disabled>Seleccionar un talle</option>
            <option value="36">36</option>
            <option value="37">37</option>
            <option value="38">38</option>
            <option value="39">39</option>
            <option value="40">40</option>
            <option value="41">41</option>
            <option value="42">42</option>
            <option value="43">43</option>
            <option value="44">44</option>
          </select>
        </div>

        <!-- CATEGORIA PRODUCTO -->
        <div class="contenedorTalle">
          <p class="subtitulo"> Editar Categoria: </p>
          <select class="cajaTalles" name="categoria" id="categoria">
            <option value="selectCateg" selected disabled>Seleccionar una categoria</option>
            <option value="running">Running</option>
            <option value="futbol">Futbol</option>
            <option value="Basket">Basket</option>
            <option value="Tennis">Tenis</option>
            <option value="Otros">Otros</option>
          </select>
        </div>

        <!-- CARGAR IMAGENES PRODUCTO -->
         <div class="box">
              <label>Cargar imagenes del producto:</label>
              <input type="file" name="cargaImagen" multiple accept=".jpg, .png">
        </div>

          <div class="botones">
              <!-- Boton carga -->
              <button type="submit" class="boton">Editar</button>
      
              <!-- Boton de reset -->
              <button type="reset" class="boton">Cancelar</button>
          </div>
      </form>
  </div>
  </main>
  <!-- PIE DE PAGINA -->
  <%- include ('../partials/footer')%>


</body>

</html>