<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Estilos -->
  <link rel="stylesheet" href="/css/detalle.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <title>Detalle del Producto</title>
</head>

<body>

  <header>

    <!-- Logo -->
    <img src="/images/Logo-zapa.png" alt="Logo provisirio">

    <!-- Barra de busqueda -->
    <input type="text" placeholder="Buscar...">

    <!-- Iconos -->
    <i class="fa-solid fa-user"></i>
    <i class="fa-solid fa-bars"></i>
    <i class="fa-solid fa-cart-shopping"></i>

    <!-- Barra de navegacion -->
    <nav>
      <a href="">Categorias</a>
      <a href="">Ofertas</a>
      <a href="">Promos</a>
      <a href="">Inicio</a>
    </nav>

  </header>

  <main>
      <div class="imagenPrincipal">
        <img src="/images/Logo.png" alt="imagen-1-producto">
      </div>
      <div class="cajaImagen">
        <img src="/images/Logo.png" alt="imagen-2-producto">
        <img src="/images/Logo.png" alt="imagen-3-producto">
        <img src="/images/Logo.png" alt="imagen-4-producto">
        <img src="/images/Logo.png" alt="imagen-5-producto">
      </div>
      <div class="nombrePrecio">
        <h1>"Nombre producto"</h1>
        <h2>Precio: $$$$$</h2>
      </div>
      <p>Descripcion: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <div class="color">
        <h3>Color:</h3>
          <label for="">Azul<input type="radio" name="color" value="azul" id="color"></label>
          <label for="">Rojo<input type="radio" name="color" value="rojo" id="color"></label>
          <label for="">Negro<input type="radio" name="color" value="negro" id="color"></label>
          <label for="">Blanco<input type="radio" name="color" value="blanco" id="color"></label>
      </div>
      <div class="talle">
        <h3>Talle:</h3>
        <label for="talle">36<input type="radio" name="talle" value="36" id="talle"></label>
        <label for="talle">37<input type="radio" name="talle" value="37" id="talle"></label>
        <label for="talle">38<input type="radio" name="talle" value="38" id="talle"></label>
        <label for="talle">39<input type="radio" name="talle" value="39" id="talle"></label>
        <label for="talle">40<input type="radio" name="talle" value="40" id="talle"></label>
        <label for="talle">41<input type="radio" name="talle" value="41" id="talle"></label>
        <label for="talle">42<input type="radio" name="talle" value="42" id="talle"></label>
      </div>
      <div class="botones">
        <button type="submit">Agregar a favoritos<i class="fa-solid fa-heart"></i></button>
        <button type="submit">Agregar al carrito<i class="fa-solid fa-cart-shopping"></i></button>
      </div>
      <a href="/">Volver a la Página principal</a>
    </main>

  <footer>
    <!-- Formas de pago -->
    <section>
      <p>Formas de pago</p>
      <ul>
        <li>Deposito/Transferencia</li>
        <li>Mercadopago</li>
        <li>Cuotas: ahora 3, 6, 12</li>
        <li>Otros</li>
      </ul>
    </section>

    <!-- Contacto -->
    <section>
      <p>Contacto</p>
      <ul>
        <li>heave@sports.com</li>
        <li>Whatsapp</li>
        <li>Direccion</li>
        <li>Telefono</li>
      </ul>
    </section>

    <!-- Ayuda -->
    <section>
      <p>Ayuda</p>
      <ul>
        <li>Preguntas</li>
        <li>Devoluciones</li>
      </ul>
    </section>

    <!-- Nuestras redes -->
    <section>
      <p>Encontranos en</p>
      <ul>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Twitter</li>
      </ul>
    </section>

    <!-- Envios -->
    <p class="envios">Envios a todo el pais desde $30.000</p>
  </footer>

</body>

</html>