<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Estilos -->
  <link rel="stylesheet" href="/css/index.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <title>Principal</title>
</head>

<body>

  <!-- ENCABEZADO -->
  <header>

    <div class="header-nav-superior">
      
      <h3 class="nombre-pagina">Heaven Sports</h3>

      <!-- Logo -->
      <img src="/images/Logo-zapa.png" alt="Logo provisirio" class="logo">


      <!-- Barra de busqueda -->
      <input type="text" placeholder="Buscar..." class="barra-busqueda">

      <div class="iconos">
        <!-- Iconos -->
        <i class="fa-solid fa-bars icono-hamburguesa"></i>
        <a href="/register"><i class="fa-solid fa-user icono-usuario"></i></a>
        <i class="fa-solid fa-cart-shopping icono-carrito"></i>
      </div>
    </div>

    <div class="header-nav-inferior">
      <!-- Barra de navegacion -->
      <nav class="barra-navegacion">
        <a href="/">Inicio</a>
        <a href="">Categorias</a>
        <a href="">Ofertas</a>
        <a href="">Nosotros</a>
      </nav>
    </div>

  </header>





  <!-- PRINCIPAL -->
  <main>

    <!-- Ofertas -->
    <section class="main-section">

      <h3 class="titulo">Ofertas</h3>

      <article class="oferta">
        <a class="linkSinEstilo" href="/productDetail">
          <img src="images\ProductoA_0Larga.jpg" alt="Ejemplo2">
        </a>
        <p class="precio-anterior">$20.000</p>
        <p class="precio">$16.000</p>
        <p class="descripcion">Zapatillas Plataforma Botita Star Dama</p>
        <p class="talle">Talles: 36 - 37 - 38 - 39 - 40 - 41 - 42 - 43 - 44</p>
      
      </article>

      <article class="oferta">
        <img src="/images/zapa-7.jpeg" alt="Ejemplo2">
        <p class="precio-anterior">$20.000</p>
        <p class="precio">$16.000</p>
        <p class="descripcion">Nike Air Force celestes</p>
        <p class="talle">Talles: 34 - 35 - 36 - 37 - 38 - 39</p>
      </article>


    </section>

    <!-- Lo mas vendido -->
    <section class="main-section">

      <h3 class="titulo">Lo mas vendido</h3>

      <article class="mas-vendido">
        <img src="/images/zapa-5.jpeg" alt="Ejemplo1">
        <p class="precio">$16.000</p>
        <p class="descripcion">Adidas Top blancas</p>
        <p class="talle">Talles: 34 - 35 - 36 - 37 - 38 - 39</p>
      </article>
      <article class="mas-vendido">
        <img src="/images/zapa-6.jpeg" alt="Ejemplo1">
        <p class="precio">$16.000</p>
        <p class="descripcion">Nike Air Force blancas</p>
        <p class="talle">Talles: 34 - 35 - 36 - 37 - 38 - 39</p>
      </article>
      <article class="mas-vendido">
        <img src="/images/zapa-7.jpeg" alt="Ejemplo1">
        <p class="precio">$16.000</p>
        <p class="descripcion">Nike Air Force celestes</p>
        <p class="talle">Talles: 34 - 35 - 36 - 37 - 38 - 39</p>
      </article>
      <article class="mas-vendido">
        <img src="/images/zapa-9.jpeg" alt="Ejemplo1">
        <p class="precio">$16.000</p>
        <p class="descripcion">Nike Zoom Pegasus gris</p>
        <p class="talle">Talles: 34 - 35 - 36 - 37 - 38 - 39</p>
      </article>

    </section>

    <!-- Buscar por marca -->
    <section class="main-section">
      <h3 class="titulo">Buscar por marca</h3>
      <i class="fa-solid fa-arrow-left"></i>
      <article class="marca">
        <img src="/images/logo-nike.png" alt="Ejemplo1">
      </article>
      <article class="marca">
        <img src="/images/logo-adidas.png" alt="Ejemplo2">
      </article>
      <article class="marca">
        <img src="/images/logo-puma.png" alt="Ejemplo3">
      </article>
      <i class="fa-solid fa-arrow-right"></i>
    </section>
  </main>





  <!-- PIE DE PAGINA -->
  <footer>
    <!-- Formas de pago -->
    <section class="info">
      <h4>Formas de pago</h4>
      <ul>
        <li>Mercadopago</li>
        <li>Ahora 3, 6, 12</li>
        <li>Tarjeta debito/credito</li>
        <li>Deposito/Transferencia</li>
      </ul>
    </section>

    <!-- Contacto -->
    <section class="info">
      <h4>Contacto</h4>
      <ul>
        <li>Twitter</li>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>heaven@sports.com</li>
      </ul>
    </section>

    <!-- Ayuda -->
    <section class="info">
      <h4>Ayuda</h4>
      <ul>
        <li>Compra y envíos</li>
        <li>Preguntas frecuentes</li>
        <li>Cambios y devoluciones</li>
      </ul>
    </section>

    <!-- Copyright -->
    <section class="copyright">
      <p>Copyright HeavenSports 2023</p>
    </section>

  </footer>

</body>

</html>