<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Estilos -->
  <link rel="stylesheet" href="/css/home.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <title>Principal</title>
</head>

<body>

  <header>

    <!-- Logo -->
    <img src="/images/Logo-zapa.png" alt="Logo provisirio">

    <!-- Barra de busqueda -->
    <input type="text" placeholder="Buscar...">

    <!-- Iconos -->
    <i class="fa-solid fa-user"></i>
    <i class="fa-solid fa-bars"></i>
    <i class="fa-solid fa-cart-shopping"></i>

    <!-- Barra de navegacion -->
    <nav>
      <a href="">Categorias</a>
      <a href="">Ofertas</a>
      <a href="">Promos</a>
      <a href="">Inicio</a>
    </nav>

  </header>

  <main>
    <!-- Slider -->
    <section>
      <h2>Slider</h2>
      <article>
        <i class="fa-solid fa-arrow-left"></i>
        <img src="/images/Logo-barra.png" alt="Slider" class="slider">
        <i class="fa-solid fa-arrow-right"></i>
      </article>
    </section>

    <!-- Ofertas -->
    <section>
      <h2>Ofertas</h2>
      <article class="oferta">
        <img src="/images/Logo.png" alt="Ejemplo1">
        <img src="/images/Logo.png" alt="Ejemplo2">
        <img src="/images/Logo.png" alt="Ejemplo3">
      </article>
    </section>

    <!-- Lo mas vendido -->
    <section>
      <h2>Lo mas vendido</h2>
      <article class="mas-vendido">
        <img src="/images/Logo.png" alt="Ejemplo1">
        <img src="/images/Logo.png" alt="Ejemplo2">
        <img src="/images/Logo.png" alt="Ejemplo3">
        <img src="/images/Logo.png" alt="Ejemplo4">
      </article>
    </section>

    <!-- Buscar por marca -->
    <section>
      <h2>Buscar por marca</h2>
      <article class="marca">
        <i class="fa-solid fa-arrow-left"></i>
        <img src="/images/Logo.png" alt="Ejemplo1">
        <img src="/images/Logo.png" alt="Ejemplo2">
        <img src="/images/Logo.png" alt="Ejemplo3">
        <i class="fa-solid fa-arrow-right"></i>
      </article>
    </section>
  </main>

  <footer>
    <!-- Formas de pago -->
    <section>
      <p>Formas de pago</p>
      <ul>
        <li>Deposito/Transferencia</li>
        <li>Mercadopago</li>
        <li>Cuotas: ahora 3, 6, 12</li>
        <li>Otros</li>
      </ul>
    </section>

    <!-- Contacto -->
    <section>
      <p>Contacto</p>
      <ul>
        <li>heave@sports.com</li>
        <li>Whatsapp</li>
        <li>Direccion</li>
        <li>Telefono</li>
      </ul>
    </section>

    <!-- Ayuda -->
    <section>
      <p>Ayuda</p>
      <ul>
        <li>Preguntas</li>
        <li>Devoluciones</li>
      </ul>
    </section>

    <!-- Nuestras redes -->
    <section>
      <p>Encontranos en</p>
      <ul>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Twitter</li>
      </ul>
    </section>

    <!-- Envios -->
    <p class="envios">Envios a todo el pais desde $30.000</p>
  </footer>

</body>

</html>