<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Estilos -->
  <link rel="stylesheet" href="/css/productCart.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <title>Carrito</title>
</head>

<body>

  <!-- ENCABEZADO -->
  <header>

    <div class="header-nav-superior">
      
      <h3 class="nombre-pagina">Heaven Sports</h3>

      <!-- Logo -->
      <img src="/images/Logo-zapa.png" alt="Logo provisirio" class="logo">


      <!-- Barra de busqueda -->
      <input type="text" placeholder="Buscar..." class="barra-busqueda">

      <div class="iconos">
        <!-- Iconos -->
        <i class="fa-solid fa-bars icono-hamburguesa"></i>
        <a href="/register"><i class="fa-solid fa-user icono-usuario"></i></a>
        <a href="/productCart"><i class="fa-solid fa-cart-shopping icono-carrito"></i></a>
        
      </div>
    </div>

    <div class="header-nav-inferior">
      <!-- Barra de navegacion -->
      <nav class="barra-navegacion">
        <a href="/">Inicio</a>
        <a href="">Categorias</a>
        <a href="">Nosotros</a>
        <a href="/login">Iniciar sesión</a>
      </nav>
    </div>

  </header>

      <!-- CARRITO -->
  <main>
      <div class="cajaProducto">
        <h1>Heaven Sport</h1>
        <p>Tienda Oficial</p>
        <img src="/images/ProductoA_0.jpg" alt="imagen-referencia">
        <div class="descripcion-producto">
            <p>... Nombre del producto ...</p>
            <p>... Descripcion del producto ...</p>
            <button>Eliminar</button>
            <button>Guardar</button>
            <button>Modificar</button>
            <button>Comprar ahora</button>
        </div>
        <div class="cantidad">
            <button><i class="fa-solid fa-minus"></i>1<i class="fa-solid fa-plus"></i></button>
            <p>Disponibles: 5</p>
        </div>
      </div>
        <div class="compra">
            <h1>Resumen de compra:</h1>
            <p>"Producto"</p>
            <p>$$$$</p>
            <p>Envio</p>
            <p>$$$$</p>
            <p><input type="text" name="cupon" placeholder="Cupon dcto"></p>
            <p>Desc %</p>
            <p>Total</p>
            <p>$$$$</p>
        </div>
        <div class="botones">
            <button>Comprar</button>
            <br>
            <button>Cancelar Compra</button>
        </div>
        <div class="volver">
             <a href="/">Volver a la Página principal</a>
        </div>
    </main>

  <!-- PIE DE PAGINA -->
  <footer>
    <!-- Formas de pago -->
    <section class="info">
      <h4>Formas de pago</h4>
      <ul>
        <li>Mercadopago</li>
        <li>Ahora 3, 6, 12</li>
        <li>Tarjeta debito/credito</li>
        <li>Deposito/Transferencia</li>
      </ul>
    </section>

    <!-- Contacto -->
    <section class="info">
      <h4>Contacto</h4>
      <ul>
        <li>Twitter</li>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>heaven@sports.com</li>
      </ul>
    </section>

    <!-- Ayuda -->
    <section class="info">
      <h4>Ayuda</h4>
      <ul>
        <li>Compra y envíos</li>
        <li>Preguntas frecuentes</li>
        <li>Cambios y devoluciones</li>
      </ul>
    </section>

    <!-- Copyright -->
    <section class="copyright">
      <p>Copyright HeavenSports 2023</p>
    </section>

  </footer>

</body>

</html>