<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Estilos -->
  <link rel="stylesheet" href="/css/productDetail.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <title>Registro</title>
</head>



<body>

  <!-- ENCABEZADO -->
  <header>

    <section class="header-nav-superior">
      <!-- Logo -->
      <img src="/images/Logo-zapa.png" alt="Logo provisirio" class="logo">

      <!-- Barra de busqueda -->
      <input type="text" placeholder="Buscar..." class="barra-busqueda">

      <section class="iconos">
        <!-- Iconos -->
        <i class="fa-solid fa-bars icono-hamburguesa"></i>
        <i class="fa-solid fa-user icono-usuario"></i>
        <i class="fa-solid fa-cart-shopping icono-carrito"></i>
      </section>
    </section>

    <section class="header-nav-inferior">
      <!-- Barra de navegacion -->
      <nav class="barra-navegacion">
        <a href="/">Inicio</a>
        <a href="">Categorias</a>
        <a href="">Ofertas</a>
        <a href="">Nosotros</a>
      </nav>
    </section>

  </header>


  <!-- PRINCIPAL -->
  <main>
  
    <section class="contenedorIzq">

      <article class="imagenesProducto">

        <div class="imagenesGrupo">

          <img class="imagen1" src="\images\ProductoA_1.jpg" alt="imagen chica 1">
          <img class="imagen2" src="\images\ProductoA_2.jpg" alt="imagen chica 2">
          <img class="imagen3" src="\images\ProductoA_3.jpg" alt="imagen chica 3">
          <img class="imagen4" src="\images\ProductoA_4.jpg" alt="imagen chica 4">

        </div>

        <div class="imagenesGrande">

          <img class="imagen0" src="\images\ProductoA_0.jpg" alt="imagen grande">

        </div>

      </article>

      <article class="descripcion">

      </article>

    </section>

    <section class="contenedorDer">

      <p class="titulo">  </p>

      <p class="subtitulo">  </p>

      <div class="colores">

      </div>

      <p class="subtitulo">  </p>

      <div class="cajaTalles">

      </div>

      <div class="botones">

      </div>


    </section>

  </main>

  <footer>

    <section class="copyright">
      <p>Copyright HeavenSports 2023</p>
    </section>

  </footer>

</body>

</html>