<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Estilos -->
  <link rel="stylesheet" href="/css/register.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <title>Registro</title>
</head>



<body>

  <!-- ENCABEZADO -->
  <header>

    <div class="header-nav-superior">
      
      <h3 class="nombre-pagina">Heaven Sports</h3>

      <!-- Logo -->
      <img src="/images/Logo-zapa.png" alt="Logo provisirio" class="logo">


      <!-- Barra de busqueda -->
      <input type="text" placeholder="Buscar..." class="barra-busqueda">

      <div class="iconos">
        <!-- Iconos -->
        <i class="fa-solid fa-bars icono-hamburguesa"></i>
        <a href="/register"><i class="fa-solid fa-user icono-usuario"></i></a>
        <a href="/productCart"><i class="fa-solid fa-cart-shopping icono-carrito"></i></a>
        
      </div>
    </div>

    <div class="header-nav-inferior">
      <!-- Barra de navegacion -->
      <nav class="barra-navegacion">
        <a href="/">Inicio</a>
        <a href="">Categorias</a>
        <a href="">Nosotros</a>
        <a href="/login">Iniciar sesión</a>
      </nav>
    </div>

  </header>





  
  <!-- PRINCIPAL -->
  <main>
    <h4 class="titulo">Registrarse</h4>

    <form action="/registro" method="post" class="registro">

      <!-- Nombre completo -->
      <label>Nombre y apellido</label>
      <input type="text" name="nombre" id="name">

      <!-- Nombre de usuario -->
      <label>Nombre de usuari@</label>
      <input type="text" name="usuario" id="user">

      <!-- Email -->
      <label>Email</label>
      <input type="email" name="email" id="email">

      <!-- Provincia -->
      <label>Provincia</label>
      <input type="text" name="provincia" id="provincia">

      <!-- Localidad -->
      <label>Localidad</label>
      <input type="text" name="localidad" id="localidad">

      <!-- Direccion -->
      <label>Direccion</label>
      <input type="text" name="direccion" id="direccion">

      <!-- Codigo postal -->
      <label>Código postal</label>
      <input type="text" name="cod-postal" id="cod-postal">

      <!-- Provincia -->
      <label>Teléfono</label>
      <input type="text" name="telefono" id="telefono">

      <!-- Contraseña -->
      <label>Contraseña</label>
      <input type="password" name="contrasena" id="password">

      <!-- Confirmacion de contraseña -->
      <label>Confirmar contraseña</label>
      <input type="password" name="conf-contrasena" id="conf-password">

      <div class="botones">
        <!-- Boton de registro -->
        <button type="submit" class="boton">Enviar</button>

        <!-- Boton de reset -->
        <button type="reset" class="boton">Borrar</button>
      </div>

    </form>

  </main>






  <!-- PIE DE PAGINA -->
  <footer>
    <!-- Formas de pago -->
    <section class="info">
      <h4>Formas de pago</h4>
      <ul>
        <li>Mercadopago</li>
        <li>Ahora 3, 6, 12</li>
        <li>Tarjeta debito/credito</li>
        <li>Deposito/Transferencia</li>
      </ul>
    </section>

    <!-- Contacto -->
    <section class="info">
      <h4>Contacto</h4>
      <ul>
        <li>Twitter</li>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>heaven@sports.com</li>
      </ul>
    </section>

    <!-- Ayuda -->
    <section class="info">
      <h4>Ayuda</h4>
      <ul>
        <li>Compra y envíos</li>
        <li>Preguntas frecuentes</li>
        <li>Cambios y devoluciones</li>
      </ul>
    </section>

    <!-- Copyright -->
    <section class="copyright">
      <p>Copyright HeavenSports 2023</p>
    </section>

  </footer>

</body>

</html>