  /* Configuracion general */
  :root {
    --dark-primary: #132c3a;
    --primary: #4b858d;
    --light-primary: #a2cadf;
    --secondary-text: #666;
    --secondary: #ebebeb;
    --light: #fff;
    --dark: #000;
    --discount: #008f39;
  }



  /*------------------------------------------------------*/
  /*------------------------------------------------------*/
  /*------------------------------------------------------*/


  /* MAIN */

  main {
    width: 100%;
    background-color: var(--light);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
  }

  main input {
    display: none;
  }
  .contenedor-general {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;

  }
  .contenedor-referencias {
    width: 80%;
    max-width: 350px;
    height: 225px;
    text-align: center;
    background-color: var(--dark-primary);
    margin: 20px;
    padding: 7px 7px 0;
  }

  /* Titulos de las secciones */
  .referencia {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 5px 0;
    margin-bottom: 7px;
  }

  .parrafo {

    font-size: 11px;
    text-align: justify;
    max-width: 900px;
    border: 1px solid var(--secondary);
    padding: 10px;
   
  }




  /* MEDIA QUERYS */

  /* DISEÑOS PARA TABLETS */
  @media (min-width:360px) {
    .contenedor-referencias {
      width: 30%;
      height: auto;
    }
  }

  @media (min-width:768px) {


    /* MAIN */


    main {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      min-height: 1000px;
      height: 100vh;
      max-height: 2000px;
    }

    .contenedor-referencias {
      width: 30%;
      height: auto;
    }
    .referencia{
      font-size: 14px;
    }

    .contenedor-parrafos {
      max-width: 700px;
      width: 60%;
      padding: 20px;
    }

    .parrafo{
      font-size: 13px;
      line-height: 15px;
    }

  }







  /* Resolucion para PC */
  @media(min-width: 1024px) {
    .contenedor-referencias {
      width: 280px;
    }

    .referencia{
      font-size: 18px;
    }

    .parrafo{
      font-size: 16px;
   
    }

  }