  /* Configuracion general */
  
  * {
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 0;
    
  }
  
  body {
    display: flex;
    flex-wrap: wrap;
    align-content: center
  }
  
  
  .linkSinEstilo {
    text-decoration: none;
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
 
/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/  
  
  
  /* MAIN */
  
  main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    background-color: var(--secondary);

  }
  
  .contenedor-parrafo {
    display: flex;
   
    z-index: 1;
    background: url(Logo-barra.png);
    padding: 30px 80px;
    text-align: center;
  }

  .imagFondo {
    display: flex;
    position: absolute;
    opacity: 30%;
    width: 50vh;
    z-index: 0;
  }
    
  .div-slider{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    overflow: hidden;
  }
  
  .slider{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .img-slider {
    width: 100%;
    position: relative;
    padding: 20px 10px 0;
    
  }
  
  .img-slider img {
    width: 100%;
    
    border-radius: 10px;
  }
  
  
  .slide1, .slide2, .slide3 {
    transform: translate(100%);
    position: relative;
    transition: all 500ms ease-in-out;
  }
  
  .slide1{
    animation: autoSlide1 15s infinite alternate;
  }
  .slide2{
    animation: autoSlide2 15s infinite alternate;
  }
  .slide3{
    animation: autoSlide3 15s infinite alternate;
  }
  
  
  
  /* Titulos de las secciones */
  .titulo {
    width: 100%;
    text-align: center;
    padding: 20px 0 10px;
    color: var(--dark);
    font-size: 1.3rem;
  }
  
  /* Secciones */
  .main-section{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
  }
  
  /* Articulos de las secciones */
  .oferta, .mas-vendido{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;
    justify-content: center;
    background-color: var(--light);
    margin: 5px 0;
    align-items: center;
    border-radius: 5px;
    position: relative;
    text-decoration: none;
  }
  
  
  /* Imagenes de cada articulo */
  .oferta img, .mas-vendido img {
    width: 25%;
    max-width: 150px;
    opacity: 90%;
  }
  
  .envio-gratis {
    position: absolute;
    font-size: 12px;
    top: 10px;
    right: 10px;
    color: var(--light);
    background-color: var(--primary);
    font-weight: bold;
    padding: 0 5px;
  }
  
  .contenedor-precio-descripcion {
    width: 75%;
    padding-left: 15px;
  }
  
  /* Precio anterior del articulo */
  .precio-anterior {
    text-decoration:line-through;
    font-size: 10px;
    color: var(--dark);
  }
  
  /* Precio del nuevo articulo para oferta */
  .precio {
    color: var(--dark);
    font-size: 15px;
    font-weight: bold;
  }
  
  .descuento {
    font-size: 10px;
    color: var(--discount);
  }
  
  /* Descripcion del articulo */
  .descripcion {
    font-size: 12px;
    color: var(--dark);
  }
  
  
  /* Contenedor de las marcas */
  .marcas {
    padding: 40px 10px;
  }
  
  .marca{
    display: flex;
    background-color: var(--light);
    width: 80px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .marca img {
    width: 100%;
  }
  
  /* Iconos de flecha */
  .main-section i {
    align-self: center;
    cursor: pointer;
  }
  
  
/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/  
/*------------------------------------------------------*/  
/*------------------------------------------------------*/  

 
  /* TRANSICIONES Y ANIMACIONES */
   
  
/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/  
/*------------------------------------------------------*/  
/*------------------------------------------------------*/  
  
  
  /* MEDIA QUERYS */
  
  /* DISEÑOS PARA TABLETS */
  
  @media (min-width:576px) {  
  
    /* MAIN */
  
    .titulo {
      font-size: 1.5rem;
    }
  
    .oferta, .mas-vendido {
      width: 48%;
    }
   
  
/*------------------------------------------------------*/  
/*------------------------------------------------------*/  
/*------------------------------------------------------*/  
  
  
  /* Resolucion para PC */
  @media(min-width: 992px) {
  
   
    /* MAIN */
  
    .oferta .precio-anterior{
      width: 15%;
    }
  
    .oferta .precio {
      width: 85%;
    }
  
    .mas-vendido {
      width: 23%;
    }
  
  }
  
  
/*------------------------------------------------------*/  
/*------------------------------------------------------*/  
/*------------------------------------------------------*/    
  
  
  /* MEDIA QUERYS RECOMENDADAS
  @media(min-width: 768px) {
    
  }
  @media(min-width: 1200px) {
  
  } */