* {
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    margin: 0;
  }
  
body {
  background: url(/images/fondo-cajas.jpg);
  background-size: cover;
  background-position: center;
}
  /* HEADER */
  
  header {
    display: flex;
    justify-content: space-around;
    height: 75px;
    align-items: center;
    background-color: #87d0da;
  }
  
  /* Barra de navegacion */
  nav {
    display: none;
  }
  
  
  /* Barra de busqueda */
  header input {
    width: 60%;
    height: 50%;
    border: 1px black solid;
    border-radius: 5px;
    background-color: white;
  }
  
  /* Logo de la pagina */
  header img {
    height: 65px;
    margin: 5px;
    border-radius: 50%;
  }
  
  /* Iconos */
  header i{
    color: black;
    background-color: #87d0da;
  }
  
  /* MAIN */
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

  .imagenPrincipal {
    width: 80%;
}

  .imagenPrincipal img {
    width: 100%;
    border-radius: 20px;
    border: solid 2px #e1cead;
}

h1, h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #e1cead;;
    background: transparent;
    backdrop-filter: blur(8px);
}
h3 {
  color: #e1cead;;
}
main p {
    width: 90%;
    text-align: center;
    color: #e1cead;;
    background: transparent;
    backdrop-filter: blur(8px);
}
  .cajaImagen {
    margin-top: 20px;
    display: flex;
    align-content: center;
    justify-content: space-around;
  }

  .cajaImagen img {
    width: 20%;
    border-radius: 20px;
    border: solid 2px #e1cead;
  }

  .color, .talle {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
    background: transparent;
    backdrop-filter: blur(8px);
    color: #e1cead;;
  }

  .color label, input {
    margin-left: 5px;
    margin-right: 5px;
  }

  .talle label, input {
    margin-left: 5px;
    margin-right: 5px;
  }
  button {
    width: 100%;
    height: 60px;
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    border: solid 3px #87d0da;
    cursor: pointer;
    background: transparent;
    backdrop-filter: blur(10px);
    color: #e1cead;
  }

  i {
    margin-left: 3px;
    color: #6cbcc6;
  }     
  
a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #6cbcc6;
    font-weight: bold;
  }
  
a:hover {
    text-decoration: underline;
  }
  /* FOOTER */
  
  footer{
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e1cead;
  }
  
  /* Secciones del footer */
  footer section {
    width: 50%;
    padding: 20px;
  }
  
  /* Todas las listas */
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Parrafos en general */
  footer section p{
    font-size: 18px;
    font-weight: bold;
    margin: 4px 0;
  }
  
  /* Listas de los section */
  footer section ul li {
    padding: 2px;
  }
  
  /* Pie de pagina abajo */
  footer .envios {
    font-size: 18px;
    background-color: #87d0da;
    width: 100%;
  }

  @media (min-width: 1000px) {
    .imagenPrincipal {
        width: 60%;
    }
    
    p {
        font-size: 20px;
    }
  }