  /* Configuracion general */
  :root {
    --dark-primary: #132c3a;
    --primary: #4b858d;
    --light-primary: #a2cadf;
    --secondary-text: #666;
    --secondary: #ebebeb;
    --light: #fff;
    --dark: #000;
    --discount: #008f39;
  }

  /*------------------------------------------------------*/
  /*------------------------------------------------------*/
  /*------------------------------------------------------*/


  /* MAIN */
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  h1 {
    font-size: 30px;
    color: #666;
  }

  p {
    /*font-size: 18px;*/
    color: #666;
  }

  .cajaProducto {
    width: 80%;
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 50px;
  }

  .cajaProducto img {
    width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .cantidad i {
    margin-left: 3px;
    margin-right: 3px;
  }

  .compra {
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 30px;
  }

  .compra h1 {
    width: 100%;
  }

  .compra p {
    width: 50%;
    margin-top: 10px;
  }

  .compra input {
    text-align: center;
    width: 60%;
  }

  button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    background-color: #a2cadf;
    border: 1px solid #4b858d;
    border-radius: 8px;
    color: black;
    cursor: pointer;
  }

  .botones {
    width: 100%;

  }

  .volver a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #e1cead;
    font-weight: bold;
  }

  .volver a:hover {
    text-decoration: underline;
  }


  /*------------------------------------------------------*/
  /*------------------------------------------------------*/
  /*------------------------------------------------------*/


  /* TRANSICIONES Y ANIMACIONES */

  button:hover {
    background-color: #4b858d;
    color: white;
  }

  button {
    cursor: pointer;
    transition: all 300ms;
  }

