  /* Configuracion general */
  :root {
    --dark-primary: #132c3a;
    --primary: #4b858d;
    --light-primary: #a2cadf;
    --secondary-text: #666;
    --secondary: #ebebeb;
    --light: #fff;
    --dark: #000;
    --discount: #008f39;
  }

  /*------------------------------------------------------*/
  /*------------------------------------------------------*/
  /*------------------------------------------------------*/


  /* MAIN */
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--secondary);
    width: 100%;
  }

  .titulo {
    font-size: 24px;
    font-weight: bold;
  }

  .contenedor-productos {
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 400px));
    justify-content: center;
    gap: 15px;
    width: 90%;
  }

  .producto {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--dark);
    padding: 10px;
    margin: 10px;
  }

  .producto-imagen {
    width: 40%;
  }

  .producto-datos {
    margin-left: 10px;
  }


  /* MEDIA QUERYS */


  @media (min-width:768px) {

    /* HEADER */



  }

  /* Resolucion para PC */
  @media(min-width: 1024px) {

    /* HEADER */

  }