/* MAIN */
.contenedor-form form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.nombre label{
  color: var(--dark-primary);
}

.nombre input{
  border-color: var(--dark-primary);
  color: var(--dark-primary);
}

.stock {
  margin-bottom: 30px;
}

.talle {
  position: relative;
}

/* MEDIA QUERYS */

/* DISEÑOS PARA TABLETS */

@media (min-width:768px) {


  /* MAIN */
  .contenedor-form {
    width: 350px;
  }


}

/* Resolucion para PC */
@media(min-width: 1024px) {}