  /* Configuracion general */
  :root {
    --dark-primary: #132c3a;
    --primary: #4b858d;
    --light-primary: #a2cadf;
    --secondary-text: #666;
    --secondary: #ebebeb;
    --light: #fff;
    --dark: #000;
    --discount: #008f39;
  }
  
  
  /* HEADER */
  header {
    background-color: #a2cadf;
    width: 100%;
  }
  
  .header-nav-superior {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .nombre-pagina{
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 1.8rem;
    padding-top: 10px;
    -webkit-text-stroke: #4b858d 0.05px;
  }
  
  .logo {
    width: 20%;
  }
  
  .barra-busqueda {
    width: 50%;
    border-radius: 8px;
    border: 1px solid #4b858d;
    padding: 5px;
    font-size: 16px;
    transition: all 200ms;
  }
  
  .iconos {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 16px;
    transition: all 200ms;
  }
  
  .header-nav-inferior {
    opacity: 0;
    transition: all 200ms;
  }
  
  /* Para desactivar los links */
  .header-nav-inferior a {
    pointer-events: none;
  }
  
  /* MAIN */
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  
  /* TITULO */
  .titulo {
    width: 100%;
    padding: 30px 0 10px;
    font-size: 18px;
    text-align: center;
    color: #666;
  }
  
  /* FORMULARIO */
  .carga {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
  }
  
  .carga label {
    width: 100%;
    padding: 25px 0 10px;
    font-size: 16px;
  }
  
  .carga input {
    width: 100%;
    padding: 5px;
    font-size: 12px;
    border: 1px solid #666;
    border-radius: 8px;
  }
  
  /* CONTENEDOR COLOR-TALLE-CATEGORIA */
  .contenedorTalle {
    display: flex;
    width: 100%;
    margin-top: 20px;
  }
  
  /* CAJA COLOR-TALLE-CATEGORIA */
.cajaTalles {
    width: auto;
    padding: 8px;
    margin: 5px 0;
    border-radius: 8px;
    background-color: #a2cadf;
    border: 1px solid #4b858d;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }

  /* SUBTITULO COLOR-TALLE-CATEGORIA */
  .subtitulo {
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 15px;
  }

  /* CONTENEDOR BOTONES */
  .botones {
    width: 100%;
    padding: 40px 0;
  }
  
  /* ESTILOS BOTONES */
  .boton {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    background-color: #a2cadf;
    border: 1px solid #4b858d;
    border-radius: 8px;
    color: black;
    font-size: 16px;
  }
  
  
  /* FOOTER */
  footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 70px 0 0;
    padding-top: 20px;
    background-color: #dff4ff;
    justify-content: center;
  }
  
  /* Secciones de informacion */
  .info {
    width: 90%;
    margin: 20px 5%;
    text-align: center;
  }
  
  /* Todas las listas */
  .info ul {
    list-style: none;
  }
  
  /* Titulo de la info */
  .info h4 {
    font-size: 0.8rem;
  }
  
  /* Listas */
  .info li {
    font-size: 0.7rem;
    padding: 1px;
  }
  
  
  /* Seccion de copyright */
  .copyright {
    justify-self: flex-start;
    text-align: start;
    padding: 15px 10px 10px;
    font-size: 0.7rem;
    color: #666;
    width: 100%;
  }
  
/* TRANSICIONES Y ANIMACIONES */

.boton:hover {
  background-color: #4b858d;
  color: white;
}

.boton {
  cursor: pointer;
  transition: all 300ms;
}

.iconos i:hover {
  color: #ebebeb;
  transform: scale(1.4);
}

.iconos i {
  cursor: pointer;
  transition: all 200ms;
}

.barra-navegacion a:hover {
  background-color: #4b858d;
  color: #ebebeb;
}

.barra-navegacion a {
  transition: all 300ms;
}






