
:root{
  --dark-primary:#132c3a;
  --primary: #4b858d;
  --light-primary:#a2cadf;
  --secondary-text:#666;
  --secondary: #ebebeb;
  --light: #fff;
  --dark: #000;
  --discount: #008f39;
}



/* Configuracion general */

* {
  box-sizing: border-box;
  font-family: poppins, sans-serif;
  margin: 0;
  padding: 0;
  
}


body {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
















/* HEADER */

header {
  background-color: var(--dark-primary) ;
  width: 100%;
  border-bottom: 2px solid var(--dark-primary);
}

.header-nav-superior {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 14px 30px;
  height: 50px;
}

.contenedor-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.nombre-pagina{
  text-align: center;
  color: var(--light);
  font-size: 1.5rem;
  display: none;
}

.logo {
  width: 36px;
  position: absolute;
  right: 10px;
  top: 7px;
}

.inicio {
  text-decoration: none;
}

.barra-busqueda {
  border-radius: 5px;
  border: none;
  padding: 2px 10px;
  font-size: 12px;
  transition: all 200ms;
  width: 80%;
  outline: none;
  color: var(--secondary-text);
}

#label-hamburguesa{
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: all 500ms;
  color: var(--light);
}


#check {
  display: none;
}

.barra-navegacion {
  display: flex;
  position: absolute;
  top: 49px;
  left: -150px;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--dark-primary);
  opacity: 90%;
  backdrop-filter: blur(3px);
  width: 150px;
  font-size: 1rem;
  z-index: 10;
  transition: all 500ms;
}

.barra-navegacion a {
  padding: 5px 10px;
  text-decoration: none;
  color: var(--light);
  width: 100%;
  text-align: end;
}

#label-exit {
  padding: 0 5px;
}

#check:checked ~ .barra-navegacion{
  left: 0;
}












/* MAIN */

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--secondary);
}




.div-slider{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: none;
  position: relative;
  overflow: hidden;
}

.slider{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-slider {
  width: 100%;
  position: relative;
  padding: 20px 10px 0;
}

.img-slider img {
  width: 100%;
  
  border-radius: 10px;
}


.slide1, .slide2, .slide3 {
  transform: translate(100%);
  position: relative;
  transition: all 500ms ease-in-out;
}

.slide1{
  animation: autoSlide1 15s infinite alternate;
}
.slide2{
  animation: autoSlide2 15s infinite alternate;
}
.slide3{
  animation: autoSlide3 15s infinite alternate;
}




/* Titulos de las secciones */
.titulo {
  width: 100%;
  text-align: center;
  padding: 20px 0 10px;
  color: var(--dark);
  font-size: 1.3rem;
}

/* Secciones */
.main-section{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
}

/* Articulos de las secciones */
.oferta, .mas-vendido{
  width: 100%;
  max-width: 340px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px;
  justify-content: center;
  background-color: var(--light);
  margin: 5px 2px;
  align-items: center;
  border-radius: 5px;
  position: relative;
  text-decoration: none;
}


/* Imagenes de cada articulo */
.oferta img, .mas-vendido img {
  width: 25%;
  max-width: 150px;
  opacity: 90%;
}

.envio-gratis {
  position: absolute;
  font-size: 12px;
  top: 10px;
  right: 10px;
  color: var(--light);
  background-color: var(--primary);
  font-weight: bold;
  padding: 0 5px;
}

.contenedor-precio-descripcion {
  width: 75%;
  padding-left: 15px;
}

/* Precio anterior del articulo */
.precio-anterior {
  text-decoration:line-through;
  font-size: 10px;
  color: var(--dark);
}

/* Precio del nuevo articulo para oferta */
.precio {
  color: var(--dark);
  font-size: 15px;
  font-weight: bold;
}

.descuento {
  font-size: 10px;
  color: var(--discount);
}

/* Descripcion del articulo */
.descripcion {
  font-size: 12px;
  color: var(--dark);
}


/* Contenedor de las marcas */
.marcas {
  padding: 40px 10px;
}

.marca{
  display: flex;
  background-color: var(--light);
  width: 80px;
  cursor: pointer;
  margin-top: 10px;
}

.marca img {
  width: 100%;
}

/* Iconos de flecha */
.main-section i {
  align-self: center;
  cursor: pointer;
}






/* FOOTER */

footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0 0;
  background-color: var(--dark);
  justify-content: center;
}

/* Secciones de informacion */
.info {
  width: 80%;
  height: 40px;
  text-align: start;
  color: var(--light);
  padding: 10px 5px;
  border-top: 1px solid var(--light);
  transition: all 200ms;
}

/* Titulo de la info */
.info h4 {
  font-size: 12px;
  cursor: pointer;
}

/* Todas las listas */
.info ul {
  list-style: none;
  display: none;
  padding: 5px;
}

/* Listas */
.info li {
  font-size: 9px;
  padding: 1px 5px;
}


/* Seccion de copyright */
.copyright {
  text-align: center;
  padding: 30px 10px 10px;
  font-size: 9px;
  color: var(--light);
  width: 100%;
}

footer input {
  display: none;
}

footer input:checked + .info ul {
  display: block;
}

footer input:checked + .info {
  height: 80px;
}






/* TRANSICIONES Y ANIMACIONES */

.boton:hover {
  background-color: var(--primary);
  color: var(--light);
}

.boton {
  cursor: pointer;
  transition: all 300ms;
}


.barra-navegacion a:active, #label-hamburguesa:active, .logo:active {
  background-color: var(--primary);
  color: var(--secondary);
}

.barra-navegacion a, #label-hamburguesa .icono-hamburguesa, .logo:active {
  transition: all 100ms;
}


@keyframes autoSlide1 {
  0%, 25% { 
    position: relative;
    transform: translateX(0); }
  40%, 100% { 
    position: absolute;
    transform: translateX(-100%); }
}

@keyframes autoSlide2 {
  0%, 25% { 
    position: absolute;
    transform: translateX(100%); }
  40%, 65% { 
    position: relative;
    transform: translateX(0); }
  80%, 100% { 
    position: absolute;
    transform: translateX(-100%); }
}

@keyframes autoSlide3 {
  0%, 65% { 
    position: absolute;
    transform: translateX(100%); }
  80%, 100% { 
    position: relative;
    transform: translateX(0%); }
}







/* MEDIA QUERYS */

/* DISEÑOS PARA TABLETS */

@media (min-width:768px) {



  /* HEADER */
  
  .header-nav-superior{
    height: auto;
    justify-content: flex-start;
  }
  
  .barra-busqueda {
    width: 300px;
    order: 5;
    margin-left: 50px;
  }

  .inicio {
    width: 220px;
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .contenedor-logo{
    width: 100%;
  }

  .nombre-pagina{
    display: block;
  }

  .logo{
    position: relative;
    top: auto;
    right: auto;
  }




  /* MAIN */

  .titulo {
    font-size: 1.5rem;
  }

  .main-section{
    justify-content: space-around;
  }





  /* FOOTER */

 
  .info{
    width: 30%;
    margin: 20px 0;
    text-align: center;
  }

  .info h4 {
    font-size: 1.1rem;
  }

  .info li {
    font-size: 0.9rem;
  }

  .copyright {
    font-size: 0.9rem;
  }

}







/* Resolucion para PC */
@media(min-width: 1024px) {

  /* HEADER */
  .header-nav-superior{
    justify-content: flex-end;
  }

  .barra-busqueda{
    margin: 0;
  }

  .inicio{
    right: 40%;
  }

  .nombre-pagina{
    font-size: 30px;
  }

  .logo{
    width: 45px;
    height: 45px;
  }




  /* MAIN */

  .titulo{
    font-size: 36px;
  }

  .oferta, .mas-vendido{
    width: 49%;
    max-width: 500px;
  }

  .precio-anterior{
    font-size: 14px;
  }

  .precio{
    font-size: 18px
  }

  .descuento {
    font-size: 14px;
  }

  .descripcion {
    font-size: 14px;
  }


}





/* MEDIA QUERYS RECOMENDADAS
@media(min-width: 768px) {
  
}
@media(min-width: 1200px) {

} */