/* Configuracion general */

* {
  box-sizing: border-box;
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  display: flex;
  flex-wrap: wrap;
  align-content: center
}

.oferta, .Ejemplo2, .precio-anterior, .precio, .descripcion, .talle {
  text-decoration: none;
}

.linkSinEstilo {
  text-decoration: none;
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
}




/* HEADER */

header {
  background-color: #a2cadf;
  width: 100%;
}

.header-nav-superior {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nombre-pagina{
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 1.8rem;
  padding-top: 10px;
  -webkit-text-stroke: #4b858d 0.05px;
}

.logo {
  width: 20%;
}

.barra-busqueda {
  width: 50%;
  border-radius: 8px;
  border: 1px solid #4b858d;
  padding: 5px;
  font-size: 16px;
  transition: all 200ms;
}

.iconos {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 16px;
  transition: all 200ms;
}

.iconos a {
  color: black;
}

.header-nav-inferior {
  opacity: 0;
  transition: all 200ms;
}

/* Para desactivar los links */
.header-nav-inferior a {
  pointer-events: none;
}






/* MAIN */

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Titulos de las secciones */
.titulo {
  width: 100%;
  text-align: center;
  padding: 40px 0 10px;
  color: #666;
  font-size: 1.3rem;
}

/* Secciones */
.main-section{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-between;
}

/* Articulos de las secciones */
.oferta, .mas-vendido{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  justify-content: center;
  background-color: #ebebeb;
  margin: 10px 0;
  border: 1px solid #666;
}

/* Imagenes de cada articulo */
.oferta img, .mas-vendido img {
  width: 90%;
}

/* Precio anterior del articulo */
.oferta .precio-anterior {
  width: 30%;
  padding: 10px 0 0 15px;
  text-decoration:line-through;
  font-size: 0.85rem;
}

/* Precio del nuevo articulo para oferta */
.oferta .precio {
  width: 70%;
  padding: 10px 0 0;
  color: #4b858d;
  font-weight: bold;
}

/* Precio pero de los articulos mas vendidos */
.mas-vendido .precio {
  width: 100%;
  padding: 10px 15px 0;
  color: #4b858d;
  font-weight: bold;
}

/* Descripcion del articulo */
.descripcion {
  width: 100%;
  padding: 10px 15px 0;
}

/* Talles del articulo */
.talle {
  width: 100%;
  padding: 2px 15px 0;
  font-size: 0.7rem;
}

/* Contenedor de las marcas */
.marca{
  display: flex;
  flex-wrap: wrap;
  background-color: #ebebeb;
  margin: 10px 0;
  border: 1px solid #666;
  width: 25%;
  cursor: pointer;
}

/* Iconos de flecha */
.main-section i {
  align-self: center;
  cursor: pointer;
}






/* FOOTER */

footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 70px 0 0;
  padding-top: 20px;
  background-color: #dff4ff;
  justify-content: center;
}

/* Secciones de informacion */
.info {
  width: 90%;
  margin: 20px 5%;
  text-align: center;
}

/* Todas las listas */
.info ul {
  list-style: none;
}

/* Titulo de la info */
.info h4 {
  font-size: 0.8rem;
}

/* Listas */
.info li {
  font-size: 0.7rem;
  padding: 1px;
}


/* Seccion de copyright */
.copyright {
  justify-self: flex-start;
  text-align: start;
  padding: 15px 10px 10px;
  font-size: 0.7rem;
  color: #666;
  width: 100%;
}









/* TRANSICIONES Y ANIMACIONES */

.boton:hover {
  background-color: #4b858d;
  color: white;
}

.boton {
  cursor: pointer;
  transition: all 300ms;
}

.iconos i:hover {
  color: #ebebeb;
  transform: scale(1.4);
}

.iconos i {
  cursor: pointer;
  transition: all 200ms;
}

.barra-navegacion a:hover {
  background-color: #4b858d;
  color: #ebebeb;
}

.barra-navegacion a {
  transition: all 300ms;
}







/* MEDIA QUERYS */

/* DISEÑOS PARA TABLETS */

@media (min-width:576px) {



  /* HEADER */
  .barra-busqueda {
    width: 60%;
  }

  .iconos {
    width: 20%;
  }

  .iconos .icono-hamburguesa {
    display: none;
  }

  .header-nav-inferior {
    width: 100%;
    opacity: 1;
    display: flex;
    background-color: #dff4ff;
  }

  /* Para reactivar los links */
  .header-nav-inferior a {
    pointer-events: auto;
  }

  .barra-navegacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  .barra-navegacion a {
    text-decoration: none;
    color: #4b858d;
    border: 1px solid #4b858d;
    width: 25%;
    text-align: center;
    padding: 10px;
    font-size: 16px;
  }




  /* MAIN */

  .titulo {
    font-size: 1.5rem;
  }

  .oferta, .mas-vendido {
    width: 48%;
  }





  /* FOOTER */

  .info{
    width: 30%;
    margin: 20px 0;
    justify-self: center;
  }

  .info h4 {
    font-size: 1.1rem;
  }

  .info li {
    font-size: 0.9rem;
  }

  .copyright {
    font-size: 0.9rem;
  }

}







/* Resolucion para PC */
@media(min-width: 992px) {

  /* HEADER */

  .barra-busqueda {
    width: 70%;
  }

  .iconos {
    width: 10%;
  }




  /* MAIN */

  .oferta .precio-anterior{
    width: 15%;
  }

  .oferta .precio {
    width: 85%;
  }

  .mas-vendido {
    width: 23%;
  }

}





/* MEDIA QUERYS RECOMENDADAS
@media(min-width: 768px) {
  
}
@media(min-width: 1200px) {

} */