

/* MAIN */

.div-slider {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: none;
  position: relative;
  overflow: hidden;
}

.slider {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-slider {
  width: 100%;
  position: relative;
  padding: 20px 10px 0;
}

.img-slider img {
  width: 100%;

  border-radius: 10px;
}




.slide1,
.slide2,
.slide3 {
  transform: translate(100%);
  position: relative;
  transition: all 500ms ease-in-out;
}

.slide1 {
  animation: autoSlide1 15s infinite alternate;
}

.slide2 {
  animation: autoSlide2 15s infinite alternate;
}

.slide3 {
  animation: autoSlide3 15s infinite alternate;
}





/* Secciones */
.section {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
}

/* Articulos de las secciones */
.product-card {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--light);
  padding: 10px;
  border-radius: 5px;
  position: relative;
  text-decoration: none;
}

.product-card-div-img {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.product-card-div-img img {
  width: 100%;
}

.product-card-free {
  position: absolute;
  font-size: 14px;
  top: 10px;
  right: 10px;
  color: var(--light);
  background-color: var(--primary);
  font-weight: bold;
  padding: 1px 3px 0;
}

.product-card-description {
  width: 100%;
  padding: 10px 0;
}







/* TRANSICIONES Y ANIMACIONES */

#label-hamburguesa {
  cursor: pointer;
}


@keyframes autoSlide1 {

  0%,
  25% {
    position: relative;
    transform: translateX(0);
  }

  40%,
  100% {
    position: absolute;
    transform: translateX(-100%);
  }
}

@keyframes autoSlide2 {

  0%,
  25% {
    position: absolute;
    transform: translateX(100%);
  }

  40%,
  65% {
    position: relative;
    transform: translateX(0);
  }

  80%,
  100% {
    position: absolute;
    transform: translateX(-100%);
  }
}

@keyframes autoSlide3 {

  0%,
  65% {
    position: absolute;
    transform: translateX(100%);
  }

  80%,
  100% {
    position: relative;
    transform: translateX(0%);
  }
}








/* MEDIA QUERYS */

/* DISEÑOS PARA TABLETS */

@media (min-width:768px) {





}







/* Resolucion para PC */
@media(min-width: 1024px) {



/*   .titulo {
      font-size: 36px;
  }

  .precio-anterior {
      font-size: 14px;
  }

  .precio {
      font-size: 18px
  }

  .descuento {
      font-size: 14px;
  }

  .descripcion {
      font-size: 14px;
  }




  .oferta,
  .mas-vendido {
      width: 250px;
      margin: 10px;
      transition: all 200ms ease-in-out;
  }

  .marca {
      transition: all 200ms ease-in-out;
  }


  .contenedor-img {
      width: 100%;
      max-width: 300px;
      padding: 10px 0;
      height: 200px;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
  }

  .contenedor-img img{
    width: 100%;
  }

  .envio-gratis {
      z-index: 10;
      font-size: 18px;
  }

  .contenedor-precio-descripcion {
      width: 90%;
      padding: 10px 0;
  }

  .main-section {
      justify-content: center;
  }

  .oferta:hover,
  .mas-vendido:hover,
  .marca:hover {
      transform: scale(1.1);
      background-color: var(--light-primary);
  }
 */

}