/* Configuracion general */
:root {
    --dark-primary: #132c3a;
    --delete: #8f0000;
    --delete-light: #d30000;
    --primary: #4b858d;
    --light-primary: #a2cadf;
    --secondary-text: #666;
    --secondary: #ebebeb;
    --light: #fff;
    --dark: #000;
    --discount: #008f39;
  }



  /*------------------------------------------------------*/
  /*------------------------------------------------------*/
  /*------------------------------------------------------*/


  /* MAIN */

  main {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;
  }


  .contenedor-general {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;

  }

  .contenedor-datos {
    width: 100%;
    background-color: var(--light);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }
  
  .nombre {
    width: 100%;
    text-align: center;
    padding: 30px 0 20px;
    font-size: 20px;
    font-weight: 600;
  }

  .boton-editar,
  .form-eliminar{
    width: 40%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    color: var(--light);
    margin: 20px 10px 0;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
  }

  .boton-editar{
    background-color: var(--primary);
  }

  .form-eliminar{
    background-color: var(--delete);
  }

  .boton-eliminar{
    background-color: transparent;
    border: none;
    color: var(--light);
    font-size: 16px;
    cursor: pointer;
  }

  .boton-editar:hover{
    background-color: var(--light-primary);
  }

  .form-eliminar:hover{
    background-color: var(--delete-light);
  }

  /* MEDIA QUERYS */

  /* DISEÑOS PARA TABLETS */

  @media (min-width:768px) {


    /* MAIN */
    main{
      min-height: 50vh;
      padding-bottom: 0;
    }

    .contenedor-general{
      background-color: var(--secondary);
      width: 90%;
      max-width: 700px;
      margin: 40px;
    }

    .contenedor-datos{
      width: 56%;
      margin: 30px;
      padding: 20px;
    }



  }



  /* Resolucion para PC */
  @media(min-width: 1024px) {}