/* Estilos generales */

* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img {
    width: 100%;
  }
  
  body{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
  

/*------------------------------------------------------*/  
/*------------------------------------------------------*/  
/*------------------------------------------------------*/  

  
  /* MAIN */
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  
  .titulo {
    width: 100%;
    padding: 30px 0 10px;
    font-size: 18px;
    text-align: center;
    color: #666;
  }
  
  .login {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
  }
  
  .login label {
    width: 100%;
    padding: 25px 0 10px;
    font-size: 12px;
  }
  
  .login input {
    width: 100%;
    padding: 5px;
    font-size: 12px;
    border: 1px solid #666;
    border-radius: 8px;
  }
  
  .opciones {
    display: flex;
    text-align: center;
    width: 100%;
  }

  .opciones label {
    width: 50%;
  }
  .opciones input {
    width: auto;
    margin-left: 5px;
  }

  .reg {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 40px;

  }

  .reg a {
    margin-left: 10px;
  }

  .botones {
    width: 100%;
    padding: 40px 0;
  }
  
  .boton {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    background-color: #a2cadf;
    border: 1px solid #4b858d;
    border-radius: 8px;
    color: black;
  }
  
  
/*------------------------------------------------------*/  
/*------------------------------------------------------*/  
/*------------------------------------------------------*/  

  
/* TRANSICIONES Y ANIMACIONES */

.boton:hover {
  background-color: #4b858d;
  color: white;
}

.boton {
  cursor: pointer;
  transition: all 300ms;
}


/*------------------------------------------------------*/  
/*------------------------------------------------------*/  
/*------------------------------------------------------*/  


/* MEDIA QUERYS */

/* DISEÑOS PARA TABLETS */

@media (min-width:576px) {


  /* MAIN */

  .titulo {
    font-size: 1.5rem;
  }

  .oferta, .mas-vendido {
    width: 48%;
  }


/*------------------------------------------------------*/  
/*------------------------------------------------------*/  
/*------------------------------------------------------*/  


/* Resolucion para PC */
@media(min-width: 992px) {


  /* MAIN */

  .oferta .precio-anterior{
    width: 15%;
  }

  .oferta .precio {
    width: 85%;
  }

  .mas-vendido {
    width: 23%;
  }

}