/* TITULO */
.titulo {
  width: 100%;
  text-align: center;
  padding: 10px 0 5px;
  font-size: 1.2rem;
  color: var(--secondary-text);
}

/* FORMULARIO */



.cat {
  justify-content: space-between;
  margin-bottom: 30px;
}

.contenedor-form {
  max-width: 800px;
  padding: 20px;
  margin: 60px 20px;
  background-color: var(--light);
  border-radius: 10px;
}

.contenedor-form form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.marca,
.color,
.talle {
  position: relative;
}



/* MEDIA QUERYS */

/* DISEÑOS PARA TABLETS */

@media (min-width:768px) {


  /* MAIN */
  .contenedor-form,
  .contenedor-error {
    width: 500px;
  }


}

/* Resolucion para PC */
@media(min-width: 1024px) {


  /* MAIN */
  .contenedor-form,
  .contenedor-error {
    width: 600px;
  }


}