/* TITULO */
.titulo {
  width: 100%;
  text-align: center;
  padding: 10px 0 5px;
  font-size: 1.2rem;
  color: var(--secondary-text);
}

/* FORMULARIO */


.contenedor-form {
  max-width: 800px;
  padding: 20px;
  margin: 60px 20px;
  background-color: var(--light);
  border-radius: 10px;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

/* Contenedor imagen */
.image{
  margin-bottom: 25px;
  overflow: hidden;
}

/* CONTENEDOR ERROR */
.contenedor-error {
  max-width: 800px;
  height: 600px;
  padding: 20px;
  margin: 60px 20px;
  background-color: var(--light);
  border-radius: 10px;
  background-image: url(/images/logos/error-404.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}


.linkError {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}


/********************/
/* Por validaciones front*/

.errorBox {
  border: 2px red solid;
  border-radius: 5%;
  box-shadow: 0 0 5px red;
}

.errorMsg {
  color: red;
  font-weight: bolder;
  margin-top: -5%;
  display: none;
}

.errorMsg.img {
  margin-top: -4%;
}




/* MEDIA QUERYS */

/* DISEÑOS PARA TABLETS */

@media (min-width:768px) {


  /* MAIN */
  .contenedor-form, .contenedor-error {
    width: 500px;
  }


}

/* Resolucion para PC */
@media(min-width: 1024px) {


  /* MAIN */
  .contenedor-form, .contenedor-error {
    width: 600px;
  }


}