:root {
    --dark-primary: #132c3a;
    --delete: #8f0000;
    --delete-light: #d30000;
    --primary: #4b858d;
    --light-primary: #a2cadf;
    --secondary-text: #666;
    --secondary: #ebebeb;
    --light: #fff;
    --dark: #000;
    --discount: #008f39;
}



/* Configuracion general */

* {
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 0;
}


body {
    min-height: 100vh;
}





/* MAIN */

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--secondary);
    padding-bottom: 50px;
}


/* Titulos de las secciones */
.titulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 80%;
    text-align: center;
    padding: 30px 0 20px;
    color: var(--dark);
    font-size: 1.3rem;
}

/* Secciones */
.main-section {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 350px));
    gap: 20px;
    width: 90%;
    justify-content: center;
}

.contenedor-imagen {
    display: flex;
    flex-wrap: wrap;
    height: 250px;
}

.contenedor-talle {
    display: flex;
    flex-wrap: wrap;
}

.contenedor-imagen img {
    width: 100%;
    display: flex;
    height: 70%;
    object-fit: cover;
}

.boton-imagen-eliminar,
.boton-talle-eliminar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--light);
    background-color: var(--delete);
    border-radius: 7px;
    width: auto;
    padding: 5px 10px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: all 200ms ease-in-out;
}

.boton-imagen-eliminar:hover,
.boton-talle-eliminar:hover {
    background-color: var(--delete-light);
}


.boton-imagen-cargar,
.boton-talle-cargar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: normal;
    color: var(--light);
    background-color: var(--primary);
    border-radius: 7px;
    width: auto;
    padding: 5px 10px;
    height: 30px;
    transition: all 200ms ease-in-out;
    justify-self: center;
    font-size: 14px;
}

.boton-imagen-cargar:hover,
.boton-talle-cargar:hover {
    background-color: var(--light-primary);
}

.boton-talle-editar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--light);
    background-color: var(--dark-primary);
    border-radius: 7px;
    width: auto;
    padding: 5px 10px;
    height: 30px;
    font-size: 14px;
    margin: 0 10px 0 0;
    transition: all 200ms ease-in-out;
}

.boton-talle-editar:hover {
    background-color: var(--primary);
}

.numero-talle{
    font-size: 16px;
    font-weight: bold;
    border: 1px solid black;
    padding: 10px;
    width: 100%;
}

.stock{
    font-size: 14px;
    border: 1px solid black;
    border-top: none;
    padding: 6px 10px;
    margin-bottom: 20px;
    width: 100%;
}






/* TRANSICIONES Y ANIMACIONES */








/* MEDIA QUERYS */

/* DISEÑOS PARA TABLETS */

@media (min-width:768px) {


    /* MAIN */

    .titulo {
        font-size: 1.5rem;
    }

    .main-section {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 350px));
        gap: 20px;
        width: 90%;
        justify-content: center;
    }




}







/* Resolucion para PC */
@media(min-width: 1024px) {


    /* MAIN */

    .titulo {
        font-size: 26px;
    }

    .main-section {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 350px));
        gap: 20px;
        width: 90%;
        justify-content: center;
      }
    


}