.section {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 15px;
    margin-bottom: 40px;
    justify-content: center;
}

.user-card{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    border: 1px solid var(--dark-secondary);
    border-radius: 7px;
    background-color: var(--light);
    padding: 5px;
}


.user-card-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.user-card-photo{
    width: 70px;
    height: 70px;
    opacity: .7;
}

.user-card-description{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 5px;
}

.user-card-info {
    color: var(--secondary-text);
    width: 100%;
    font-size: 12px;
}

#user-card-btn{
    font-size: 12px;
    padding: 6px;
}