.contenedor-form form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* MEDIA QUERYS */

/* DISEÑOS PARA TABLETS */

@media (min-width:768px) {


  /* MAIN */
  .contenedor-form {
    width: 500px;
  }


}

/* Resolucion para PC */
@media(min-width: 1024px) {


  /* MAIN */
  .contenedor-form {
    width: 600px;
  }


}