:root {
    --dark-primary: #132c3a;
    --primary: #4b858d;
    --light-primary: #a2cadf;
    --secondary-text: #666;
    --secondary: #ebebeb;
    --light: #fff;
    --dark: #000;
    --discount: #008f39;
}




/* MAIN */

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--secondary);
    padding-bottom: 50px;
}





/* Titulo */
.titulo {
    width: 100%;
    text-align: center;
    padding: 20px 0 10px;
    color: var(--dark);
    font-size: 1.1rem;
}

.contenedor-usuarios{
    display: grid;
    grid-template-columns: repeat(1, minmax(150px, 250px));
}

.informacion{
    font-size: 12px;
    padding: 2px;
    margin: 10px;
    font-weight: bold;
}

.verde{
    color: var(--discount);
}

.gris{
    color: var(--secondary-text);
}

.activo,
.inactivo {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: flex-start;
    background-color: var(--light);
    margin: 5px;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
}

.activo{
    border: 1px solid var(--discount);
}

.inactivo{
    border: 1px solid var(--secondary-text);
}

.foto-perfil {
    width: 100%;
    opacity: 90%;
    border-radius: 50%;
}


.dato {
    color: var(--dark);
    font-size: 12px;
    width: 100%;
    font-weight: bold;
}









/* MEDIA QUERYS */

/* DISEÑOS PARA TABLETS */

@media (min-width:768px) {


    /* MAIN */

    .titulo {
        font-size: 1.4rem;
    }



}







/* Resolucion para PC */
@media(min-width: 1024px) {


    /* MAIN */

    .titulo {
        font-size: 1.4rem;
    }



}