<footer>

  <div class="footer-links">
    <p>Nuestras redes</p>
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-x-twitter"></i>
  </div>

  <!-- Copyright -->
  <section class="footer-copyright">
    <p>Heaven Sports 2024© Todos los derechos reservados.</p>
  </section>

</footer>