<footer>
  <!-- Formas de pago -->
  <input type="checkbox" id="check-info">
  <section class="info">
    <label for="check-info">
      <h4>Información</h4>
    </label>
    <ul>
      <li><a href="/about">Medios de pago</a></li>
      <li><a href="/about">Políticas</a></li>
    </ul>
  </section>

  <!-- Contacto -->
  <input type="checkbox" id="check-us">
  <section class="info">
    <label for="check-us">
      <h4>Nosotros</h4>
    </label>
    <ul>
      <li><a href="/about">Acerca de HS</a></li>
      <li><a href="/about">Contacto</a></li>
    </ul>
  </section>

  <!-- Ayuda -->
  <input type="checkbox" id="check-help">
  <section class="info">
    <label for="check-help">
      <h4>Ayuda</h4>
    </label>
    <ul>
      <li><a href="/about">Cambios y devoluciones</a></li>
      <li><a href="/about">Compra segura</a></li>
    </ul>
  </section>

  <!-- Copyright -->
  <section class="copyright">
    <p>Heaven Sports ©| Todos los derechos reservados.</p>
  </section>

</footer>