<header>

  <div class="header-nav-superior">

    <!-- Barra de navegacion -->
    <input type="checkbox" id="check">
    <label for="check" id="label-hamburguesa"><i class="fa-solid fa-bars icono-hamburguesa"></i></label>

    <nav class="barra-navegacion">
      <a href="/"><i class="fa-solid fa-home"></i> Inicio</a>
      <a href=""><i class="fa-solid fa-book"></i> Productos</a>
      <a href=""><i class="fa-solid fa-question"></i> Nosotros</a>
      <a href="/users/login"><i class="fa-solid fa-user icono-usuario"></i> Iniciar sesión</a>
      <a href="/products/cart"><i class="fa-solid fa-cart-shopping icono-carrito"></i> Carrito</a>
    </nav>

    <!-- Contenedor Logo -->
    <a href="/" class="inicio">
      <div class="contenedor-logo">
        <h3 class="nombre-pagina">Heaven</h3>
        <img src="/images/Logo-zapa.png" alt="Logo provisirio" class="logo">
        <h3 class="nombre-pagina">Sports</h3>
      </div>
    </a>

    <!-- Barra de busqueda -->
    <input type="text" placeholder="Buscar..." class="barra-busqueda">

  </div>

</header>