<header>

  <div class="header-nav-superior">

    <!-- Barra de navegacion -->
    <input type="checkbox" id="check">
    <label for="check" id="label-hamburguesa"><i class="fa-solid fa-bars icono-hamburguesa"></i></label>

    <nav class="barra-navegacion">
      <a href="/"><i class="fa-solid fa-home"></i> Inicio</a>
      <a href="/products"><i class="fa-solid fa-book"></i> Productos</a>
      <a href="/about"><i class="fa-solid fa-question"></i> Nosotros</a>
      <a href="/products/cart"><i class="fa-solid fa-cart-shopping icono-carrito"></i> Carrito</a>
      <% if (locals.userLogged) { %>
      <a href="/users/profile"><i class="fa-solid fa-user icono-usuario"></i> Mi perfil</a>
      <a href="/users/logout"><i class="fa-solid fa-right-from-bracket icono-usuario"></i> Cerrar sesión</a>
      <% }else{ %>
      <a href="/users/login"><i class="fa-solid fa-right-to-bracket icono-usuario"></i> Iniciá sesión</a>
      <a href="/users/register"><i class="fa-solid fa-user-plus icono-usuario"></i> Registrate</a>
      <% } %>
      <% if (locals.userLogged && locals.admin) { %>
        <a href="/users/"><i class="fa-solid fa-users icono-usuario"></i> Lista Usuarios</a>
      <% } %>
    </nav>

    <!-- Contenedor Logo -->
    <a href="/" class="inicio">
      <div class="contenedor-logo">
        <h3 class="nombre-pagina">Heaven</h3>
        <img src="/images/logos/Logo-zapa.png" alt="Logo provisirio" class="logo">
        <h3 class="nombre-pagina">Sports</h3>
      </div>
    </a>

    <!-- Barra de busqueda -->
    <input type="text" placeholder="Buscar..." class="barra-busqueda">

  </div>

</header>