<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/about.css">
<link rel="stylesheet" href="/css/mediaQ.css">

<title>Principal</title>
</head>

<body id="body">

  <!-- ENCABEZADO -->

  <%- include ('../partials/header')%>

  <main>

    <input type="radio" name="check" id="check-a" checked>
    <input type="radio" name="check" id="check-b">
    <input type="radio" name="check" id="check-c">
    <input type="radio" name="check" id="check-d">
    <input type="radio" name="check" id="check-e">
    <input type="radio" name="check" id="check-f">

    <div class="contenedor-referencias">
      <label class="referencia t1" for="check-a">ACERCA DE HEAVEN SPORTS</label>
      <label class="referencia t2" for="check-b">CONTACTO</label>
      <label class="referencia t3" for="check-c">MEDIOS DE PAGO</label>
      <label class="referencia t4" for="check-d">POLITICAS</label>
      <label class="referencia t5" for="check-e">CAMBIOS Y DEVOLUCIONES</label>
      <label class="referencia t6" for="check-f">COMPRA SEGURA</label>
    </div>

    <div class="contenedor-parrafos">
      <p class="parrafo p1">
        Nuestro sitio web es un e-commerce que ofrece una amplia gama de calzados deportivos, abarcando la variedad de
        marcas, disciplinas deportivas, talles, géneros y modalidad. Podrá encontrar desde calzado Outdoor, para Futbol,
        Golf, Tennis, Hockey, ocasionales, hasta zapatillas acuáticas entre muchos otros mas.
        Nuestra empresa está orientado a todo aquel que practique deportes ya sea de manera amateur o profesional, de
        todas las edades y que busque calidad, comodidad y confort en su andar y eficiencia en su práctica deportiva.
        Nos adaptamos a las necesidades del cliente. Con nuestros clientes nos comprometemos a
        enviarles avisos de ofertas exclusivas de productos y un sistema de fidelización del cliente con beneficios en
        sus
        futuras compras. Como servicio post venta ofrecemos orientación en cuanto al mantenimiento y una garantía de
        cambio directo los primeros 10 días.
        Realizamos envíos a todo el país.
      </p>

      <p class="parrafo p2">Hola</p>
      <p class="parrafo p3">como</p>
      <p class="parrafo p4">tas</p>
      <p class="parrafo p5">eaaaaa</p>
      <p class="parrafo p6">bien?</p>
    </div>

  </main>




  <!-- PIE DE PAGINA -->

  <%- include ('../partials/footer')%>

</body>

</html>