<%- include ('../partials/head')%>

  <link rel="stylesheet" href="/css/about.css">

  <title>Principal</title>
</head>

<body id="body">

  <!-- ENCABEZADO -->

  <%- include ('../partials/header')%>

  <main>
    
    <div>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque similique quam, eos, non eveniet dicta tempore accusantium officia, natus rem perferendis. Tenetur molestiae consectetur ab aperiam laborum id, velit earum!
    </div>

  </main>




  <!-- PIE DE PAGINA -->

  <%- include ('../partials/footer')%>

</body>

</html>