<%- include ('../partials/head')%>

  <link rel="stylesheet" href="/css/about.css">

  <title>Principal</title>
</head>

<body id="body">

  <!-- ENCABEZADO -->

  <%- include ('../partials/header')%>

  <main>
    <!--
    <img src="..\images\Logo-barra.png" class="imagFondo">
    -->
    <div class="contenedor-parrafo">
      Nuestro sitio web es un e-commerce que ofrece una amplia gama de calzados deportivos, abarcando la variedad de marcas, disciplinas deportivas, talles, géneros y modalidad. Podrá encontrar desde calzado Outdoor, para Futbol, Golf, Tennis, Jockey, ocasionales, hasta zapatillas acuáticas entre muchos otros mas. Trabajamos hasta el talle 47 iniciando desde talles para niños. 
      Realizamos envíos a todo el país.
      Nuestra empresa está orientado a todo aquel que practique deportes ya sea de manera amateur o profesional, de todas las edades y que busque calidad, comodidad y confort en su andar y eficiencia en su práctica deportiva.
      Nos adaptamos a sus necesidades, estamos abiertos a sugerencias y pedidos exclusivos. Asesoramos en cuanto a necesidades ortopédicas y vasculares, talles, sujeción y materiales. Con nuestros clientes nos comprometemos a enviarles avisos de ofertas exclusivas de productos y un sistema de fidelización del cliente con beneficios en sus futuras compras. Como servicio post venta ofrecemos orientación en cuanto al mantenimiento y una garantía de cambio directo los primeros 10 días.
    </div>

  </main>




  <!-- PIE DE PAGINA -->

  <%- include ('../partials/footer')%>

</body>

</html>