<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/about.css">
<link rel="stylesheet" href="/css/general.css">

<title>Nosotros</title>
</head>

<body id="body">

  <!-- ENCABEZADO -->

  <%- include ('../partials/header')%>

  <main>
    <div class="contenedor-about">
      <!-- ACERCA DE HEAVEN SPORTS -->

      <label class="about-lbl">ACERCA DE HEAVEN SPORTS</label>

      <!-- Párrafo para "ACERCA DE HEAVEN SPORTS" -->
      <p class="about-p">
        Nuestro sitio web es un e-commerce que ofrece una amplia gama de calzados deportivos, abarcando la variedad de
        marcas, disciplinas deportivas, talles, géneros y modalidades. Podrá encontrar desde calzado Outdoor, para
        Futbol, Golf, Tennis, Hockey, ocasionales, hasta zapatillas acuáticas entre muchos otros más. Nuestra empresa
        está orientada a todo aquel que practique deportes ya sea de manera amateur o profesional, de todas las edades
        y
        que busque calidad, comodidad y confort en su andar y eficiencia en su práctica deportiva. Nos adaptamos a las
        necesidades del cliente. Con nuestros clientes nos comprometemos a enviarles avisos de ofertas exclusivas de
        productos y un sistema de fidelización del cliente con beneficios en sus futuras compras. Como servicio post
        venta, ofrecemos orientación en cuanto al mantenimiento y una garantía de cambio directo los primeros 10 días.
        Realizamos envíos a todo el país.
      </p>

      <!-- CONTACTO -->

      <label class="about-lbl">CONTACTO</label>

      <!-- Párrafo para "CONTACTO" -->
      <p class="about-p">
        ¿Tienes alguna pregunta o comentario? Estamos aquí para ayudarte. Puedes ponerte en contacto con nuestro
        equipo
        de atención al cliente a través de nuestro formulario en línea o llamando a nuestro número de atención al
        cliente. Estamos comprometidos a brindarte la mejor experiencia de compra y a resolver cualquier inquietud que
        puedas tener.
      </p>

      <!-- MEDIOS DE PAGO -->

      <label class="about-lbl">MEDIOS DE PAGO</label>

      <!-- Párrafo para "MEDIOS DE PAGO" -->
      <p class="about-p">
        Aceptamos una variedad de métodos de pago para que puedas realizar tus compras de la manera más conveniente.
        Ya
        sea con tarjeta de crédito, débito, transferencia bancaria u otros métodos, queremos facilitarte el proceso de
        compra para que puedas disfrutar rápidamente de tus productos.
      </p>

      <!-- POLITICAS -->
      <label class="about-lbl">POLITICAS</label>

      <!-- Párrafo para "POLITICAS" -->
      <p class="about-p">
        En Heaven Sports, nos tomamos en serio la transparencia y la confianza. Te invitamos a revisar nuestras
        políticas, que abarcan desde privacidad y seguridad hasta términos y condiciones de compra. Queremos que te
        sientas seguro al realizar tus compras con nosotros y comprendas nuestros compromisos contigo, nuestro cliente
        valioso.
      </p>

      <!-- CAMBIOS Y DEVOLUCIONES -->
      <label class="about-lbl">CAMBIOS Y DEVOLUCIONES</label>

      <!-- Párrafo para "CAMBIOS Y DEVOLUCIONES" -->
      <p class="about-p">
        Entendemos que a veces las cosas pueden no ser exactamente como las imaginabas. Por eso, ofrecemos una
        política
        de cambios y devoluciones fácil y conveniente. Si no estás satisfecho con tu compra, ponte en contacto con
        nosotros y te guiaremos a través del proceso para garantizar tu satisfacción.
      </p>

      <!-- COMPRA SEGURA -->
      <label class="about-lbl">COMPRA SEGURA</label>

      <!-- Párrafo para "COMPRA SEGURA" -->
      <p class="about-p">
        La seguridad de tus datos es una prioridad para nosotros. Utilizamos tecnologías de encriptación para proteger
        tu información personal y de pago. Puedes confiar en que tu experiencia de compra en Heaven Sports es segura y
        protegida. Si tienes alguna pregunta sobre nuestras prácticas de seguridad, no dudes en contactarnos.
      </p>

    </div>

  </main>




  <!-- PIE DE PAGINA -->

  <%- include ('../partials/footer')%>

</body>

</html>