<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/general.css">
<title>Error</title>

</head>

<body>

  <!-- ENCABEZADO -->
  <%- include ('../partials/header')%>

  <!-- PRINCIPAL -->
  <main>


    <!-- MENSAJE ERROR -->
    <div class="card-error">
      <p>¡UPS! Parece que ocurrío un error :( Pero no te preocupes, es nuestra culpa, no tuya...</p>
      <% if (locals.error) { %>
      <p>Hola, error: <%= error %></p>
      <% } %>
    </div>
    <a class="link color-primary" href="/">Volver a la página principal</a>
  </main>
  <!-- PIE DE PAGINA -->
  <%- include ('../partials/footer')%>


</body>

</html>