<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/register.css">
<title>Error</title>

</head>

<body>

  <!-- ENCABEZADO -->
  <%- include ('../partials/header')%>

  <!-- PRINCIPAL -->
  <main>

    
    <!-- MENSAJE ERROR -->
    <div class="contenedor-error">
        <p>¡UPS! Parece que ocurrío un error... :(</p>
        <a href="/">Volver a la página principal</a>
    </div>
  </main>
  <!-- PIE DE PAGINA -->
  <%- include ('../partials/footer')%>


</body>

</html>