<%- include ('../partials/head')%>

  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/mediaQ.css">

  <title>Principal</title>
</head>

<body id="body">

  <!-- ENCABEZADO -->

  <%- include ('../partials/header')%>




  <!-- PRINCIPAL -->
  <main>




    <div class="div-slider">

      <div class="slider">
        <div class="img-slider slide1"><img src="images/gif2.gif" alt="Slide 1"></div>
        <div class="img-slider slide2"><img src="images/gif3.gif" alt="Slide 2"></div>
        <div class="img-slider slide3"><img src="images/gif4.gif" alt="Slide 3"></div>
      </div>


    </div>





    <!-- Ofertas -->
    <section class="main-section">

      <h3 class="titulo">PRODUCTOS DESTACADOS</h3>

      <a class="oferta" href="/products/detail">
        <p class="envio-gratis">ENVIO GRATIS</p>
        <img src="/images/zapa-5.jpeg" alt="Ejemplo2">
        <div class="contenedor-precio-descripcion">
          <p class="precio-anterior">$20.000</p>
          <p class="precio">$16.000 <span class="descuento">20% descuento</span></p>
          <p class="descripcion">Adidas Top Blancas</p>
        </div>
      </a>

      <a class="oferta" href="/products/detail">
        <p class="envio-gratis">ENVIO GRATIS</p>
        <img src="/images/zapa-7.jpeg" alt="Ejemplo2">
        <div class="contenedor-precio-descripcion">
          <p class="precio-anterior">$20.000</p>
          <p class="precio">$15.000 <span class="descuento">25% descuento</span></p>
          <p class="descripcion">Nike Air Force 1 Celestes</p>
        </div>
      </a>

      <a class="mas-vendido" href="/products/detail">
        <p class="envio-gratis">ENVIO GRATIS</p>
        <img src="/images/zapa-9.jpeg" alt="Zapa 9">
        <div class="contenedor-precio-descripcion">
          <p class="precio">$16.000</p>
          <p class="descripcion">Nike Zoom Pegasus Gris</p>
        </div>
      </a>

      <a class="mas-vendido" href="/products/detail">
        <p class="envio-gratis">ENVIO GRATIS</p>
        <img src="/images/zapa-6.jpeg" alt="Zapa 6">
        <div class="contenedor-precio-descripcion">
          <p class="precio">$16.000</p>
          <p class="descripcion">Nike Air Force 1 Blancas</p>
        </div>
      </a>

      <a class="mas-vendido" href="/products/detail">
        <p class="envio-gratis">ENVIO GRATIS</p>
        <img src="/images/zapa-5.jpeg" alt="Zapa 6">
        <div class="contenedor-precio-descripcion">
          <p class="precio">$16.000</p>
          <p class="descripcion">Adidas Top Blancas</p>
        </div>
      </a>

      <a class="mas-vendido" href="/products/detail">
        <p class="envio-gratis">ENVIO GRATIS</p>
        <img src="/images/zapa-1.jpeg" alt="Zapa 6">
        <div class="contenedor-precio-descripcion">
          <p class="precio">$16.000</p>
          <p class="descripcion">Nike SB Blancas detalle Gris</p>
        </div>
      </a>


    


    </section>

    <!-- Buscar por marca -->
    <section class="contenedor-marcas">
      <h3 class="titulo">TODAS LAS MARCAS</h3>
      <article class="marca">
        <img src="/images/logo-nike.png" alt="Ejemplo1">
      </article>
      <article class="marca">
        <img src="/images/logo-adidas.png" alt="Ejemplo2">
      </article>
      <article class="marca">
        <img src="/images/logo-puma.png" alt="Ejemplo3">
      </article>
    </section>
  </main>





  <!-- PIE DE PAGINA -->
  
  <%- include ('../partials/footer')%>

</body>

</html>