<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Estilos -->
  <link rel="stylesheet" href="/css/login.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
  <title>Login</title>
</head>
<body>

  <!-- ENCABEZADO -->
  <header>

    <div class="header-nav-superior">

      <!-- Barra de navegacion -->
      <input type="checkbox" id="check">
      <label for="check" id="label-hamburguesa"><i class="fa-solid fa-bars icono-hamburguesa"></i></label>

      <nav class="barra-navegacion">
        <a href="/"><i class="fa-solid fa-home"></i> Inicio</a>
        <a href=""><i class="fa-solid fa-book"></i> Productos</a>
        <a href=""><i class="fa-solid fa-question"></i> Nosotros</a>
        <a href="/users/register"><i class="fa-solid fa-user icono-usuario"></i> Iniciar sesión</a>
        <a href="/products/cart"><i class="fa-solid fa-cart-shopping icono-carrito"></i> Carrito</a>
      </nav>

      <!-- Contenedor Logo -->
      <a href="/" class="inicio">
        <div class="contenedor-logo">
          <h3 class="nombre-pagina">Heaven</h3>
          <img src="/images/Logo-zapa.png" alt="Logo provisirio" class="logo">
          <h3 class="nombre-pagina">Sports</h3>
        </div>
      </a>

      <!-- Barra de busqueda -->
      <input type="text" placeholder="Buscar..." class="barra-busqueda">

    </div>

  </header>

  <!-- PRINCIPAL -->
  <main>

    <h1 class="titulo">Ingresar</h1>

    <!-- FORMULARIO LOGIN -->
    <div class="contenedorForm">
    <form action="/login" method="post" class="login">
      <label>Ingresá tu correo</label>
      <input type="email" name="email" id="email" required>
      <label>Ingresá tu contraseña</label>
      <input type="password" name="password" id="password" required>
      
      <div class="opciones">
        <label for="recordar">Recordar mi usuario<input type="checkbox" name="recordar"></label>
        <label for="olvidar"><a href="">¿Olvidaste tu contraseña?</a></label>
      </div>
      
      <div class="botones">
        <button type="submit" class="boton">Iniciar sesión</button>
      </div>
      
      <div class="reg">
        <p>¿No tienes una cuenta en Heaven Sport?</p>
        <a href="/users/register">Registrarme</a>
      </div>
    </form>
  </div>
  </main>

  <!-- PIE DE PAGINA -->
  <footer>
    <!-- Formas de pago -->
    <input type="checkbox" id="check-info">
    <section class="info">
      <label for="check-info">
        <h4>Informacion</h4>
      </label>
      <ul>
        <li>Medios de pago</li>
        <li>Políticas</li>
      </ul>
    </section>

    <!-- Contacto -->
    <input type="checkbox" id="check-us">
    <section class="info">
      <label for="check-us">
        <h4>Nosotros</h4>
      </label>
      <ul>
        <li>Acerca de HS</li>
        <li>Contacto</li>
      </ul>
    </section>

    <!-- Ayuda -->
    <input type="checkbox" id="check-help">
    <section class="info">
      <label for="check-help">
        <h4>Ayuda</h4>
      </label>
      <ul>
        <li>Cambios y devoluciones</li>
        <li>Compra segura</li>
      </ul>
    </section>

    <!-- Copyright -->
    <section class="copyright">
      <p>Heaven Sports ©| Todos los derechos reservados.</p>
    </section>

  </footer>
</body>
</html>