<%- include ('../partials/head')%>

  <link rel="stylesheet" href="/css/login.css">

  <title>Login</title>
</head>
<body>

  <!-- ENCABEZADO -->
  
  <%- include ('../partials/header')%>

  <!-- PRINCIPAL -->
  <main>

    <h4 class="titulo">Ingresar</h4>

    <!-- FORMULARIO LOGIN -->
    <form action="/login" method="post" class="login">
      <label>Ingresá tu correo</label>
      <input type="email" name="email" id="email" required>
      <label>Ingresá tu contraseña</label>
      <input type="password" name="password" id="password" required>
      
      <div class="opciones">
        <label for="recordar">Recordar mi usuario<input type="checkbox" name="recordar"></label>
        <label for="olvidar"><a href="">¿Olvidaste tu contraseña?</a></label>
      </div>
      
      <div class="botones">
        <button type="submit" class="boton">Iniciar sesión</button>
      </div>
      
      <div class="reg">
        <p>¿No tienes una cuenta en Heaven Sport?</p>
        <a href="/users/register">Registrarme</a>
      </div>
    </form>
  </main>

  <!-- PIE DE PAGINA -->
  
  <%- include ('../partials/footer')%>

</body>
</html>