<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/login.css">

<title>Login</title>
</head>

<body>

  <!-- ENCABEZADO -->

  <%- include ('../partials/header')%>

  <!-- PRINCIPAL -->
  <main>


    <!-- Formulario registro -->
    <div class="contenedor-form">
      <h4 class="titulo">Iniciá Sesión</h4>
      <form action="/users/signIn" method="POST">

        <!-- EMAIL USUARIO -->
        <div class="box">
          <input type="email" name="Email" id="email" required>
          <label for="email">Email</label>
        </div>

        <!-- CONTRASEÑA USUARIO -->
        <div class="box">
          <input type="password" name="Contrasena" id="contrasena" required>
          <label for="contrasena">Contraseña</label>
        </div>

        <!-- RECORDAR USUARIO -->
        <div class="box-recordar">
          <input type="checkbox" name="Recordar" id="recordar">
          <label for="recordar" class="label-recordar">Recuérdame</label>
        </div>

        
        <div class="botones">
          <!-- Boton carga -->
          <button type="submit" class="boton">Ingresar</button>
        </div>

        
        <!-- RECORDAR USUARIO -->
        <a class="link-registro" href="/users/register">¿Todavía no tienes una cuenta? Registrate</a>

      </form>
    </div>
  </main>

  <!-- PIE DE PAGINA -->

  <%- include ('../partials/footer')%>

</body>

</html>