<%- include ('../partials/head')%>

  <link rel="stylesheet" href="/css/register.css">

  <title>Registro</title>

</head>

<body>

  <!-- ENCABEZADO -->

  <%- include ('../partials/header')%>






  
  <!-- PRINCIPAL -->
  <main>
    <h4 class="titulo">Registrarse</h4>
    <!-- Formulario registro -->
    <div class="contenedorForm">
      <form action="/formularios" method="POST">
          <!-- Nombre y apellido -->
          <div class="box">
              <label for="nombreApellido">Nombre y Apellido</label>
              <input type="text" name="nombreApellido" id="nombreApellido" required>
          </div>
          <!-- Nombre de usuario -->
          <div class="box">
              <label for="usuario">Nombre de usuario</label>
              <input type="text" name="usuario" id="usuario" required>
          </div>
          <!-- Email -->
          <div class="box">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" required>
          </div>
          <!-- Provincia -->
          <div class="box">
              <label for="provincia">Provincia</label>
              <input type="text" name="provincia" id="provincia" required>
          </div>
          <!-- Localidad -->
          <div class="box">
              <label for="localidad">Localidad</label>
              <input type="text" name="localidad" id="localidad" required>
          </div>
          <!-- Direccion -->
          <div class="box">
              <label for="direccion">Direccion</label>
              <input type="text" name="direccion" id="direccion" required>
          </div>
          <!-- Codigo postal -->
          <div class="box">
            <label for="cp">Codigo Postal</label>
            <input type="number" name="cp" id="cp" required>
        </div>
        <!-- Telefono -->
        <div class="box">
          <label for="telefono">Direccion</label>
          <input type="number" name="telefono" id="telefono" required>
      </div>
          <!-- Contrase単a -->
          <div class="box">
              <label for="password">Contrase単a</label>
              <input type="password" name="password" id="password" required>
          </div>
          <!-- Confirmar contrase単a -->
          <div class="box">
              <label for="confirmarPass">Confirmar Contrase単a</label>
              <input type="password" name="confirmarPass" id="confirmarPass" required>
          </div>
          <div class="botones">
              <!-- Boton de registro -->
              <button type="submit" class="boton">Enviar</button>
      
              <!-- Boton de reset -->
              <button type="reset" class="boton">Borrar</button>
          </div>
      </form>
  </div>

  </main>


  <!-- PIE DE PAGINA -->

  <%- include ('../partials/footer')%>


</body>

</html>