<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Estilos -->
  <link rel="stylesheet" href="/css/register.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <title>Registro</title>
</head>



<body>

  <!-- ENCABEZADO -->
  <header>

    <div class="header-nav-superior">
      
      <h3 class="nombre-pagina">Heaven Sports</h3>

      <!-- Logo -->
      <img src="/images/Logo-zapa.png" alt="Logo provisirio" class="logo">


      <!-- Barra de busqueda -->
      <input type="text" placeholder="Buscar..." class="barra-busqueda">

      <div class="iconos">
        <!-- Iconos -->
        <i class="fa-solid fa-bars icono-hamburguesa"></i>
        <a href="/users/register"><i class="fa-solid fa-user icono-usuario"></i></a>
        <a href="/products/cart"><i class="fa-solid fa-cart-shopping icono-carrito"></i></a>
        
      </div>
    </div>

    <div class="header-nav-inferior">
      <!-- Barra de navegacion -->
      <nav class="barra-navegacion">
        <a href="/">Inicio</a>
        <a href="">Categorias</a>
        <a href="">Nosotros</a>
        <a href="/users/login">Iniciar sesión</a>
      </nav>
    </div>

  </header>





  
  <!-- PRINCIPAL -->
  <main>
    <h4 class="titulo">Registrarse</h4>
    <!-- Formulario registro -->
    <div class="contenedorForm">
      <form action="/formularios" method="POST">
          <!-- Nombre y apellido -->
          <div class="box">
              <label for="nombreApellido">Nombre y Apellido</label>
              <input type="text" name="nombreApellido" id="nombreApellido" required>
          </div>
          <!-- Nombre de usuario -->
          <div class="box">
              <label for="usuario">Nombre de usuario</label>
              <input type="text" name="usuario" id="usuario" required>
          </div>
          <!-- Email -->
          <div class="box">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" required>
          </div>
          <!-- Provincia -->
          <div class="box">
              <label for="provincia">Provincia</label>
              <input type="text" name="provincia" id="provincia" required>
          </div>
          <!-- Localidad -->
          <div class="box">
              <label for="localidad">Localidad</label>
              <input type="text" name="localidad" id="localidad" required>
          </div>
          <!-- Direccion -->
          <div class="box">
              <label for="direccion">Direccion</label>
              <input type="text" name="direccion" id="direccion" required>
          </div>
          <!-- Codigo postal -->
          <div class="box">
            <label for="cp">Codigo Postal</label>
            <input type="number" name="cp" id="cp" required>
        </div>
        <!-- Telefono -->
        <div class="box">
          <label for="telefono">Direccion</label>
          <input type="number" name="telefono" id="telefono" required>
      </div>
          <!-- Contraseña -->
          <div class="box">
              <label for="password">Contraseña</label>
              <input type="password" name="password" id="password" required>
          </div>
          <!-- Confirmar contraseña -->
          <div class="box">
              <label for="confirmarPass">Confirmar Contraseña</label>
              <input type="password" name="confirmarPass" id="confirmarPass" required>
          </div>
          <div class="botones">
              <!-- Boton de registro -->
              <button type="submit" class="boton">Enviar</button>
      
              <!-- Boton de reset -->
              <button type="reset" class="boton">Borrar</button>
          </div>
      </form>
  </div>

  </main>






  <!-- PIE DE PAGINA -->
  <footer>
    <!-- Formas de pago -->
    <section class="info">
      <h4>Formas de pago</h4>
      <ul>
        <li>Mercadopago</li>
        <li>Ahora 3, 6, 12</li>
        <li>Tarjeta debito/credito</li>
        <li>Deposito/Transferencia</li>
      </ul>
    </section>

    <!-- Contacto -->
    <section class="info">
      <h4>Contacto</h4>
      <ul>
        <li>Twitter</li>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>heaven@sports.com</li>
      </ul>
    </section>

    <!-- Ayuda -->
    <section class="info">
      <h4>Ayuda</h4>
      <ul>
        <li>Compra y envíos</li>
        <li>Preguntas frecuentes</li>
        <li>Cambios y devoluciones</li>
      </ul>
    </section>

    <!-- Copyright -->
    <section class="copyright">
      <p>Copyright HeavenSports 2023</p>
    </section>

  </footer>

</body>

</html>