<%- include ('../partials/head')%>

<link rel="stylesheet" href="/css/register.css">
<title>Registrarme</title>

</head>

<body>

  <!-- ENCABEZADO -->
  <%- include ('../partials/header')%>

  <!-- PRINCIPAL -->
  <main>

    
    <!-- Formulario registro -->
    <div class="contenedor-form">
      <h4 class="titulo">Registrarte</h4>
      <form action="/users" method="POST" enctype="multipart/form-data">

        <!-- NOMBRE USUARIO -->
        <div class="box">
          <input type="text" name="Nombre" id="nombre" required>
          <label for="nombre">Nombre</label>
        </div>

        <!-- TELEFONO USUARIO -->
        <div class="box">
          <input type="number" name="Telefono" id="telefono" required>
          <label for="telefono">Telefono</label>
        </div>

        <!-- EMAIL USUARIO -->
        <div class="box">
          <input type="email" name="Email" id="email" required>
          <label for="email">Email</label>
        </div>

        <!-- CONTRASEÑA USUARIO -->
        <div class="box">
          <input type="password" name="Contrasena" id="contrasena" required>
          <label for="contrasena">Contraseña</label>
        </div>

        <!-- CONTRASEÑA CONFIRMADA USUARIO -->
        <div class="box">
          <input type="password" name="ReContrasena" id="re-contrasena" required>
          <label for="re-contrasena">Repetir contraseña</label>
        </div>

        <!-- CARGAR IMAGENE PERFIL -->
        <div class="box box-img">
          <label for="img" class="label-img">Cargar foto de perfil</label>
          <input class="input-image" type="file" id="img" name="Imagen" multiple accept=".jpg, .png">
        </div>
        <div class="botones">
          <!-- Boton carga -->
          <button type="submit" class="boton">Guardar</button>
    
          <!-- Boton de reset -->
          <button type="reset" class="boton">Limpiar</button>
        </div>

      </form>
    </div>
  </main>
  <!-- PIE DE PAGINA -->
  <%- include ('../partials/footer')%>


</body>

</html>