<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Estilos -->
  <link rel="stylesheet" href="/css/register.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
  <title>Registro</title>

</head>

<body>

  <!-- ENCABEZADO -->
  <header>

    <div class="header-nav-superior">

      <!-- Barra de navegacion -->
      <input type="checkbox" id="check">
      <label for="check" id="label-hamburguesa"><i class="fa-solid fa-bars icono-hamburguesa"></i></label>

      <nav class="barra-navegacion">
        <a href="/"><i class="fa-solid fa-home"></i> Inicio</a>
        <a href=""><i class="fa-solid fa-book"></i> Productos</a>
        <a href=""><i class="fa-solid fa-question"></i> Nosotros</a>
        <a href="/users/register"><i class="fa-solid fa-user icono-usuario"></i> Iniciar sesión</a>
        <a href="/products/cart"><i class="fa-solid fa-cart-shopping icono-carrito"></i> Carrito</a>
      </nav>

      <!-- Contenedor Logo -->
      <a href="/" class="inicio">
        <div class="contenedor-logo">
          <h3 class="nombre-pagina">Heaven</h3>
          <img src="/images/Logo-zapa.png" alt="Logo provisirio" class="logo">
          <h3 class="nombre-pagina">Sports</h3>
        </div>
      </a>

      <!-- Barra de busqueda -->
      <input type="text" placeholder="Buscar..." class="barra-busqueda">

    </div>

  </header>
  
  <!-- PRINCIPAL -->
  <main>
    <h4 class="titulo">Registrarse</h4>
    <!-- Formulario registro -->
    <div class="contenedorForm">
      <form action="/formularios" method="POST">
          <!-- Nombre y apellido -->
          <div class="box">
              <label for="nombreApellido">Nombre y Apellido</label>
              <input type="text" name="nombreApellido" id="nombreApellido" required>
          </div>
          <!-- Nombre de usuario -->
          <div class="box">
              <label for="usuario">Nombre de usuario</label>
              <input type="text" name="usuario" id="usuario" required>
          </div>
          <!-- Email -->
          <div class="box">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" required>
          </div>
          <!-- Provincia -->
          <div class="box">
              <label for="provincia">Provincia</label>
              <input type="text" name="provincia" id="provincia" required>
          </div>
          <!-- Localidad -->
          <div class="box">
              <label for="localidad">Localidad</label>
              <input type="text" name="localidad" id="localidad" required>
          </div>
          <!-- Direccion -->
          <div class="box">
              <label for="direccion">Direccion</label>
              <input type="text" name="direccion" id="direccion" required>
          </div>
          <!-- Codigo postal -->
          <div class="box">
            <label for="cp">Codigo Postal</label>
            <input type="number" name="cp" id="cp" required>
        </div>
        <!-- Telefono -->
        <div class="box">
          <label for="telefono">Direccion</label>
          <input type="number" name="telefono" id="telefono" required>
      </div>
          <!-- Contraseña -->
          <div class="box">
              <label for="password">Contraseña</label>
              <input type="password" name="password" id="password" required>
          </div>
          <!-- Confirmar contraseña -->
          <div class="box">
              <label for="confirmarPass">Confirmar Contraseña</label>
              <input type="password" name="confirmarPass" id="confirmarPass" required>
          </div>
          <div class="botones">
              <!-- Boton de registro -->
              <button type="submit" class="boton">Enviar</button>
      
              <!-- Boton de reset -->
              <button type="reset" class="boton">Borrar</button>
          </div>
      </form>
  </div>

  </main>


  <!-- PIE DE PAGINA -->
  <footer>
    <!-- Formas de pago -->
    <input type="checkbox" id="check-info">
    <section class="info">
      <label for="check-info">
        <h4>Informacion</h4>
      </label>
      <ul>
        <li>Medios de pago</li>
        <li>Políticas</li>
      </ul>
    </section>

    <!-- Contacto -->
    <input type="checkbox" id="check-us">
    <section class="info">
      <label for="check-us">
        <h4>Nosotros</h4>
      </label>
      <ul>
        <li>Acerca de HS</li>
        <li>Contacto</li>
      </ul>
    </section>

    <!-- Ayuda -->
    <input type="checkbox" id="check-help">
    <section class="info">
      <label for="check-help">
        <h4>Ayuda</h4>
      </label>
      <ul>
        <li>Cambios y devoluciones</li>
        <li>Compra segura</li>
      </ul>
    </section>

    <!-- Copyright -->
    <section class="copyright">
      <p>Heaven Sports ©| Todos los derechos reservados.</p>
    </section>

  </footer>

</body>

</html>